<div class="subscription-headline">
  <img class="ssh-round-mark" src="{{'round.png' | asset_url}}">
  <h2 class="ssh-title display-4">SUBSCRIPTION HEADLINE</h2>
  <p class="ssh-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
  <a class="ssh-btn-subscribe" href="#">SUBSCRIBE</a>
</div>

<style>
  .subscription-headline{
    padding: 46px 32px 200px;
    background-color: #F5F5F5;
    position: relative;
  }
  
  .subscription-headline:before{
    display: block;
    content: '';
    height: 46px;
    width: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: whitesmoke;
  }
  
  .subscription-headline .ssh-round-mark{
    width: 100%;
    height: auto;
  }
  
  .subscription-headline .ssh-title{
    font-size: 35px;
    line-height: 1;
    margin-top: 38px;
    text-align: center;
  }
  
  .subscription-headline .ssh-description{
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    margin: 0px auto;
    margin-bottom: 25px;
  }
  
  .subscription-headline .ssh-btn-subscribe{
    font-size: 20px;
    color: #FFF;
    padding: 10px 92px;
    background-color: #E00808;
    display: table;
    margin: 0px auto;
  }
</style>