

{% if section.settings.try_nosection != false %}
  <div class="page-width page-content genareal_blackparts">
    <div class="general_bpart_inner">
      <h3 class="bl_titleliner">WELL, WE GOT TO HAND IT TO YOU. </h3>
       <h4 class="bl_lowcontext">
      YOUR'RE OBVIOUSLY ONE OF THOSE<span>
         RARE, ONE-OF-A-KIND,</span><span>
         PART-UNICORN PEOPLE</span><span>
         THAT ACTUALLY SCROLL</span><span>
         ALLLLLLLLLLLLLLLLLLLLLLLLL</span><span>
         LLLLLLLLLLLLLLLLLLL</span><span>
         LLLLLLLLLLLLLLLLLLLLL</span><span>
         LLLLLLLLLLLLLLLLLLL</span><span>
         LLLLLLLLLLLLLLLLLLLLLLL</span><span>
         LLLLLLLLLLL</span><span>
         LLLLLLLLLLL</span><span>
         THE WAY DOWN LANDING PAGES... </span>

      </h4>
      
   </div>
   
      
  {%comment%}     
   <div class="try_no_section_list">
     <ul class="try_list_no">
          {%- for block in section.blocks -%}             
              {% case block.type %}
                {% when 'text'%}  
      <li style="text-align:{{ block.settings.align_text }}; color:{{ block.settings.text_color }};"> {{ block.settings.text }} </li>
              {% endcase %}            
          {%- endfor -%}
     </ul>
      
</div>
    {%endcomment%} 
  
   

    
   
   
  </div>
{% endif %}

{% schema %}
 {
    "name": "General Top Section",
    "class": "try-no",
    "max_blocks": 10,
    "settings": [
      
     {
            "type": "checkbox",
            "id": "try_nosection",
            "label": "Display Section",
            "default":true
          }, 
{
        "type": "text",
        "id": "title",
        "label": "Section Title",
"default": "Try No Section"

        
      },
{
            "type": "color",
            "id": "section_background",
            "label": "Section Background",
             "default": "#fff"
          }
      
    ],
    "blocks": [
      {
        "type": "text",
        "name": "No Text",
        "settings": [
         {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Rich text"
          },
        
{
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
"default": "#000"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          }
          
         
        ]
      }
    ]
   
  }





{% endschema %}

<style type="text/css">
  
  .genareal_blackparts {
 
    display: flex;
align-items: center;
justify-content: center;
    max-width:1000px;
       
  }
  .page-width.page-content.genareal_blackparts {
    padding-top: 20px;
    padding-bottom: 20px;
}
  
 .general_bpart_inner {
    width: 100%;
    position: relative;
    margin: 0px 0%;
    background: #fff;
    padding: 40px;
    font-weight: bold;
    font-size: 37px;
}
 
  .bl_titleliner {
  line-height:110%;
  color:#fff;
    font-weight:900;
    position:relative;
    display: inline-table;
  }
 
  .bl_titleliner:after {
    position: absolute;
    width: 100%;
    content: '';
    border-bottom: 4px solid #fff;
    left: 0;
    bottom: -10px;
}
  .bl_lowcontext{
  font-weight:600;
    color:#fff;
    line-height:130%;
    margin-top:10px;
    margin-bottom:0px;
  }
  .bl_lowcontext span{
  display:block;
  }
  
  
@media only screen and (max-width:770px){
.page-width.page-content.genareal_blackparts {
    padding-top: 20px;
    padding-bottom: 20px;
  padding-left:20px;
  padding-right:20px;
} 
  .bl_lowcontext {font-size:18px;}
  .bl_titleliner {font-size:20px;}
}
  
  @media only screen and (max-width:415px){

  .bl_lowcontext {font-size:16px;}
  .bl_titleliner {font-size:18px;}
}
  
  .page-width.page-content.try_nosection{text-align:center;}
  
  .try_no_section_list {
  margin:0px;
    padding:0px;
    display:block;
     width:100%;
  }
  .try_list_no {
  margin:0px;
    padding:0px;
  }
  .try_list_no li {
  display:inline-table;
   font-size: 30px;
font-weight: 900;
text-transform: uppercase;
margin: 0px;
padding: 8px 35px; 
    position:relative;
  }
  .try_list_no li:after {
  content:'+';
  color:#e00808;
    position: absolute;
right: -10px;
  }
  .try_list_no li:nth-child(4):after{
  display:none;
  }
  #shopify-section-general_blackpart_section{background:#000; padding-bottom:0px; margin-top:20px; margin-bottom:20px;}
  @media only screen and (max-width:1160px){
  .try_list_no li {
  
   font-size: 22px;
font-weight: 900;
padding: 8px 25px; 
   
  }
  }
   @media only screen and (max-width:880px){
  .try_list_no li {
  
   font-size: 18px;

padding: 8px 15px; 
   
  }
     #shopify-section-try_no_section{margin-top:0px;}
  }
   
  @media only screen and (max-width:605px){
     .try_list_no li {font-size:14px ; padding: 8px 5px ;}
    .try_list_no li:after {
    position:relative;
    right: -3px ;
}
    .try_list_no li:nth-child(4):after {

    display: none ;

}
   }
 
  @media only screen and (max-width:451px){
     .try_list_no li {font-size:11.5px ; padding: 8px 2px ;}
    .try_list_no li:after {
     position:relative;
    right: 0px ;
}
    .try_list_no li:nth-child(4):after {

    display: none ;

}
   }
  
</style>
