

{% if section.settings.try_nosection != false %}
  <div class="page-width page-content genareal_towparts">
    
     <div class="general_twopart_conright">
      <h2 class="top_title_twoparts">NOW, THE ONLY HARD THING IS PICKING WHICH ONE IS YOUR <span>FLAVOR-ITE.</span> </h2>
      <a class="hero_button_add btn  try-btn-calls gpthand" style="color:#ffffff;" href="#">GIMME SOME ALREADY!!!!</a>
   </div>
    <div class="general_twopart_imgleft">
       <img class="image_bar_twoparts" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/bars_left_1200x.png?v=1564882519"> 
   </div>
   
    
    
      
  {%comment%}     
   <div class="try_no_section_list">
     <ul class="try_list_no">
          {%- for block in section.blocks -%}             
              {% case block.type %}
                {% when 'text'%}  
      <li style="text-align:{{ block.settings.align_text }}; color:{{ block.settings.text_color }};"> {{ block.settings.text }} </li>
              {% endcase %}            
          {%- endfor -%}
     </ul>
      
</div>
    {%endcomment%} 
  
   

    
   
   
  </div>

{% endif %}

{% schema %}
 {
    "name": "General Top Section",
    "class": "try-no",
    "max_blocks": 10,
    "settings": [
      
     {
            "type": "checkbox",
            "id": "try_nosection",
            "label": "Display Section",
            "default":true
          }, 
{
        "type": "text",
        "id": "title",
        "label": "Section Title",
"default": "Try No Section"

        
      },
{
            "type": "color",
            "id": "section_background",
            "label": "Section Background",
             "default": "#fff"
          }
      
    ],
    "blocks": [
      {
        "type": "text",
        "name": "No Text",
        "settings": [
         {
            "type": "textarea",
            "id": "text",
            "label": "Text",
            "default": "Rich text"
          },
        
{
            "type": "color",
            "id": "text_color",
            "label": "Text Color",
"default": "#000"
          },
          {
            "type": "select",
            "id": "align_text",
            "label": "Text alignment",
            "default": "left",
            "options": [
              {
                "value": "left",
                "label": "Left"
              },
              {
                "value": "center",
                "label": "Centered"
              }
            ]
          }
          
         
        ]
      }
    ]
   
  }





{% endschema %}

<style type="text/css">
  
  .genareal_towparts {
 
    display: flex;
align-items: center;
justify-content: center;
    max-width:1000px;
    flex-wrap: wrap;
   
  }
  
  .general_twopart_imgleft {
  width:50%;
  position:relative;
  margin:0px;
  padding:0px;
  }
  .general_twopart_conright {
  width:50%;
  position:relative;
  margin:0px;
  padding:0px;
  }
  
  .image_bar_twoparts {padding:10px 20px;}
  
  .page-width.page-content.genareal_towparts{
   padding-top:20px;
    padding-bottom:20px;
  }
  .top_title_twoparts {
  font-weight:900;
  line-height:110%;
  }
  
  .general_twopart_gntfull {
  width:100%;
    position:relative;
    margin:20px 0px;
    padding:15px;
    background:#fff;
     border:4px solid #E00808;
  }
  .twopart_bottom_title {
    font-weight:900;
  line-height:110%;
    color:#E00808;
    margin: 0px;
  }
  .twopart_bottom_title span {display:block ;}
  
  
  
  
  
  
  
@media only screen and (max-width:770px){
  .twopart_bottom_title {font-size:22px;}
  .page-width.page-content.genareal_towparts {padding-bottom:0px;}
  .top_title_twoparts {font-size:20px;}
}  
  
  
  .page-width.page-content.try_nosection{text-align:center;}
  
  .try_no_section_list {
  margin:0px;
    padding:0px;
    display:block;
     width:100%;
  }
  .try_list_no {
  margin:0px;
    padding:0px;
  }
  .try_list_no li {
  display:inline-table;
   font-size: 30px;
font-weight: 900;
text-transform: uppercase;
margin: 0px;
padding: 8px 35px; 
    position:relative;
  }
  .try_list_no li:after {
  content:'+';
  color:#e00808;
    position: absolute;
right: -10px;
  }
  .try_list_no li:nth-child(4):after{
  display:none;
  }
  #shopify-section-try_2_no_section{background:{{ section.settings.section_background }}; padding-bottom:0px; margin-top:0px;}
  @media only screen and (max-width:1160px){
  .try_list_no li {
  
   font-size: 22px;
font-weight: 900;
padding: 8px 25px; 
   
  }
  }
   @media only screen and (max-width:880px){
  .try_list_no li {
  
   font-size: 18px;

padding: 8px 15px; 
   
  }
     #shopify-section-try_no_section{margin-top:0px;}
  }
   
  @media only screen and (max-width:605px){
     .try_list_no li {font-size:14px ; padding: 8px 5px ;}
    .try_list_no li:after {
    position:relative;
    right: -3px ;
}
    .try_list_no li:nth-child(4):after {

    display: none ;

}
   }
 
  @media only screen and (max-width:451px){
     .try_list_no li {font-size:11.5px ; padding: 8px 2px ;}
    .try_list_no li:after {
     position:relative;
    right: 0px ;
}
    .try_list_no li:nth-child(4):after {

    display: none ;

}
   }
  
</style>
