   <link rel="stylesheet" href="https://unpkg.com/aos@2.3.0/dist/aos.css">
  <script src="https://unpkg.com/aos@2.3.0/dist/aos.js"></script>   

<div class="page-width page-content">
  
  <div class="outergen">
<div class="gen_contents">
     <div class="imgofall item"data-aos="fade-right"><img class="image_bar_hand" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/variety-pack-gluten-free-home_1400x.png?v=1575315123"></div> 
       <div class="float_text item"data-aos="fade-left">
         <h3 class="floaing_title">WE JUST WANTED A PROTEIN BAR THAT WAS...</h3>
         <ul>
           <li>- DAIRY FREE </li>
            <li>- GLUTEN FREE</li>
            <li>- GLUTEN FREE</li>
            <li>- NO SUGAR ALCOHOLS</li>
            <li>- NON-GMO</li>
            <li>- NO ARTIFICAL SUGARS </li>
           <li>- TASTED F*CKIN' AMAZING </li>
         </ul>
       </div>
     </div>
     </div>
</div>
<style>

</style>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
