
  <div class="swapion">

  <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/add-or-swap_1.png?v=1584456439"></div>
        <div class="hitPtitle"> <p> ADD OR SWAP FLAVORS <span class="gbold"> ANYTIME </span></p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/pick-beween-2-or-4-week-frequency_3.png?v=1585153608"></div>
        <div class="hitPtitle"> <p> PICK BETWEEN 2 OR 4 WEEK  <span class="gbold"> FREQUENCY  </span></p></div>
      </div>
      <div class="hit_productlist">
        <div class="hitProdim gparc2"> <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/cancel-or-skip_0bcc168f-3908-4627-b737-204a3919a514.png?v=1585153279"></div>
        <div class="hitPtitle"> <p> CANCEL OR SKIP A SHIPMENT  <span class="gbold"> ANYTIME </span></p></div>
      </div>
    
 
</div>

{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
