<div class="level_landing pb-5">
  
  <div class="ll_header text-white">
  	<div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <h1 class="top-text"><a class="text-white font-weight-bolder" href="#">Level Taster Pack</a></h1>
        </div>
      </div>
      <div class="row my-5">
      	<div class="col-md-6 align-middle">
        	<table class="h-100">
              <tr>
                <td class="bg-transparent">
                  <h1>FEEL THE ADAPTOGEN DIFFERENCE</h1>
                  <p>TRY ALL 3 BARS FOR JUST $9</p>
                  <a href="#" class="btn">CHECK ME OUT</a>
                </td>
              </tr>
            </table>
        </div>
        <div class="col-md-6 py-4">
        	<img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/banana_floating-noshadow.png?v=1587532211" alt="" srcset="">
        </div>
      </div>
    </div>
  </div>   <!-- .ll_header end -->
  
  <div class="ll_protein_bar p-5">
  	<div class="container">
      <div class="row text-center pb-5">
      	<div class="col-md-12">
          <h1>SEE, WE'RE NOT YOUR <br>
          AVERAGE PROTEIN BAR
          </h1>
        </div>
      </div> <!-- first row end -->
      <div class="row text-center">
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/GF.png?v=1587536561" alt="" srcset=""><br>
          <p>Some <br> Text</p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/GF.png?v=1587536561" alt="" srcset=""><br>
          <p>Some <br> Text</p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/GF.png?v=1587536561" alt="" srcset=""><br>
          <p>Some <br> Text</p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/GF.png?v=1587536561" alt="" srcset=""><br>
          <p>Some <br> Text</p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/GF.png?v=1587536561" alt="" srcset=""><br>
          <p>Some <br> Text</p>
      </div>
    </div>
      
    </div>
  </div>  <!-- .ll_top_product end -->
  
  <div class="ll_adaptogens">
  	<div class="container text-center text-uppercase align-self-center" 
         			style="background-image: url( https://cdn.shopify.com/s/files/1/0248/8084/0813/files/sb_float_02-noshadow2_9bc5a63c-67a8-479d-a212-b1ce399022e2.png?v=1587545608 );
                    background-position: left;
                    background-repeat: no-repeat;
                    background-size: auto 100%;padding: 130px 0px;">
        <div class="row">
        <div class="col-md-9 offset-md-3">
            <p>
                we took the <br>
                <span>superpowers of adaptogens</span> <br>
                & put them into a bar.
            </p>
            <p>
                Each bar contains <br>
                it's own <span>power.</span>
            </p>
            <p>
                So now, you can <br>
                Eat for how <br>
                <span>you want to feel.</span>
            </p>
        </div>
      </div>
    </div>
  </div>   <!--   .ll_protein_bar end -->

  
   <div class="ll_banana_bread">
  	<div class="container text-uppercase pt-5 pb-5">
      
      <div class="row">
      <div class="col-md-5">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/bb_float_02-noshadow.png?v=1587532210"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center">
        <p class="title">banana bread</p>
        <p class="sub_title"><span>+</span> Lion's Mane</p>
        <p class="para">supports focus, mental clarity & creativity.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oc_floating_02-noshadow.png?v=1587532210"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center">
        <p class="title">banana bread</p>
        <p class="sub_title"><span>+</span> Lion's Mane</p>
        <p class="para">supports focus, mental clarity & creativity.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/sb_float_01-noshadow_1.png?v=1587532210"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center">
        <p class="title">banana bread</p>
        <p class="sub_title"><span>+</span> Lion's Mane</p>
        <p class="para">supports focus, mental clarity & creativity.</p>
      </div>
    </div>

    </div>
  </div>
  

  
  <div class="ll_what_need_title">
  	<div class="container my-4 text-uppercase">
      <div class="row text-left">
        <div class="col-md-8 offset-4">
          <p>What you need, <br> When you need it.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="ll_facts">
  	<div class="container">
      <div class="row">
        <h2 class="w-100 text-center">FACTS:</h2>
      </div>
<!--         facts 1st row start  -->
      <div class="row">
         <div class="col-md-4 shadow-sm border">
         <div class="facol">  
          <div class="fahead fabg1 mt-3 mb-1 p-2 w-100 text-center">OAT COOKIE</div>
          <div class="fatable">
            <p class="fathead">Nutrition Facts</p>
            <p class="fatpara">1 Some Text</p>
            <p class="fatpara">Some text 
              <span class="text-right">Right value</span>
            </p>
            <hr>
            <p class="fa2headtop">Some calori and value</p>
            <p class="fa2head">Calories  <span class="text-right">210</span></p>
            <hr>
            <p class="fa2headsum text-right"> % Some Value </p>
            <div class="fainfo">
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <hr>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <hr>
              <p class="fabot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam at qui quo aperiam velit suscipit dolorem architecto</p>
            </div>
          </div><!-- .fatable end -->
          <p class="faimp">
            <span>Important:</span>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, ex atque in temporibus enim facere inventore dolorem optio aliquam maxime, laboriosam facilis. Quidem voluptas placeat facilis suscipit ipsa iure libero?
          </p>
          <p class="faend">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>   
        </div> <!-- .col-md-4 end -->

<!--    facts 1st row end  -->
      <!--         facts 2nd row start  -->

         <div class="col-md-4 shadow-lg">
         <div class="facol">
          <div class="fahead fabg2 mt-3 mb-1 p-2 w-100 text-center">BANANA BREAD</div>
          <div class="fatable">
            <p class="fathead">Nutrition Facts</p>
            <p class="fatpara">1 Some Text</p>
            <p class="fatpara">Some text 
              <span class="text-right">Right value</span>
            </p>
            <hr>
            <p class="fa2headtop">Some calori and value</p>
            <p class="fa2head">Calories  <span class="text-right">210</span></p>
            <hr>
            <p class="fa2headsum text-right"> % Some Value </p>
            <div class="fainfo">
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <hr>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <hr>
              <p class="fabot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam at qui quo aperiam velit suscipit dolorem architecto</p>
            </div>
          </div><!-- .fatable end -->
          <p class="faimp">
            <span>Important:</span>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, ex atque in temporibus enim facere inventore dolorem optio aliquam maxime, laboriosam facilis. Quidem voluptas placeat facilis suscipit ipsa iure libero?
          </p>
          <p class="faend">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>   
        </div> <!-- .col-md-4 end -->

<!--    facts end row end  -->
      <!--         facts 3rd row start  -->

         <div class="col-md-4 shadow-sm border">
         <div class="facol">  
          <div class="fahead fabg3 mt-3 mb-1 p-2 w-100 text-center">SALTED COOKIE</div>
          <div class="fatable">
            <p class="fathead">Nutrition Facts</p>
            <p class="fatpara">1 Some Text</p>
            <p class="fatpara">Some text 
              <span class="text-right">Right value</span>
            </p>
            <hr>
            <p class="fa2headtop">Some calori and value</p>
            <p class="fa2head">Calories  <span class="text-right">210</span></p>
            <hr>
            <p class="fa2headsum text-right"> % Some Value </p>
            <div class="fainfo">
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <hr>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <p>Left Value<span class="text-right">12%</span></p>
              <hr>
              <p class="fabot">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquam at qui quo aperiam velit suscipit dolorem architecto</p>
            </div>
          </div><!-- .fatable end -->
          <p class="faimp">
            <span>Important:</span>  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta, ex atque in temporibus enim facere inventore dolorem optio aliquam maxime, laboriosam facilis. Quidem voluptas placeat facilis suscipit ipsa iure libero?
          </p>
          <p class="faend">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
          </p>
        </div>   
        </div> <!-- .col-md-4 end -->
      </div>
<!--    facts 3rd row end  -->
      
      
    </div>
  </div>
  
  <div class="ll_review my-5">
  	<div class="container">
      <div class="row text-center text-uppercase">
        <div class="col-md-12">
          <p class="display-4">Don't Just take if from us</p>
          <p class="h2">See What our customers are saying</p>        
        </div>

      </div>
      
      {% section 'bf_reviews' %}
    </div>
  </div>
  
  
<!--   
<div class="container-fluid">

</div> 
-->

</div>  <!--.level_landing end -->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
 

.ll_banana_bread {
    background: linear-gradient(1245deg, #fff0 14%,#F1F1F1 0%,#F1F1F1 85%, #51272700 50%) ;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}
