<div class="level_landing pb-5">
  
  <div class="ll_header text-white">
  	<div class="container">
      <div class="row logo_row">
        <div class="col-md-12 text-center">
         <a class="text-white font-weight-bolder" href="https://levelfoods.com/collections/level-bars"><img class="levelLogo" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/levellogowhite.png?v=1587572613"></a>
        </div>
      </div>
      <div class="row my-5 flexsy align-items-center">
        <div class="col-6 py-4 nexJ img_position">
        	<img class="prodIngo" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Variety_Mini_Hand_1.jpg?v=1595080955" alt="" srcset="">
        </div>
      	<div class="col-6 jnex banner">
          <div class="text-wrapper">
            <div class="bg-transparent">
              <p class="sub_header" style="display:none;">SMARTER SNACKING STARTS HERE</p>
              <h1 class="header_taster new_set_removable">SMARTER SNACKING <span>STARTS HERE</span></h1>
              <p class="shipping_text" style="display:none;">$2.95/BAR <span> + LIMITED $1</span> shipping</p>
            </div>
          </div>
          <div class="btn_order">
          	<a href="https://levelfoods.com/collections/level-bars" data-url="https://levelfoods.com/collections/level-bars" class="btn check-me-out">LET'S GO</a>
          </div>
        </div>
      </div>
    </div>
  </div>   <!-- .ll_header end -->
  
  <div class="ll_protein_bar p-5 jntophome">
  	<div class="container">
      <div class="row text-center pb-5">
      	<div class="col-md-12 ngnopadd">
          <h1>SEE, WE'RE NOT YOUR <br>
          AVERAGE PROTEIN BAR
          </h1>
        </div>
      </div> <!-- first row end -->
      <div class="row text-center stickers">
        <div class="col-md-3">
          <div class="gl_icon dairy-free left-top"><p>DAIRY</p><p>FREE</p></div>
        </div>
        <div class="col-md-3">
          <div class="gl_icon soy-free right-top"><p>SOY FREE</p></div>
        </div>
        <div class="col-md-3">
          <div class="gl_icon non-gmo left-bottom"><p>NON-GMO</p></div>
        </div>
        <div class="col-md-3">
          <div class="gl_icon gluten-free right-bottom"><p>GLUTEN-FREE CERTIFIED</p></div>
        </div>
      </div>
      
    </div>
  </div>  <!-- .ll_top_product end -->
  
  <div class="ll_adaptogens">
  	<div class="container gnathdnehodn text-center text-uppercase align-self-center" style="padding: 130px 0px;">
        <div class="row">
        <div class="col-md-5 desktop-col">
            <img class="meyers-mid" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/meyers_2.jpg?v=1595080964">
        </div>
        <div class="col-md-7 offset-md-3 order-sm-1 gtsTextpart" style="margin: auto;">
            <p>Developed with elite nutritionists.</p> 
            <p>Recommended by trainers.</p> 
            <p>Enjoyed by professional athletes.</p> 
            <p><span>For peak performance.</span></p>
          <p> <a href="https://levelfoods.com/collections/level-bars" data-url="https://levelfoods.com/products/3-bar-taster-pack" class="btn check-me-out buTTon">SHOP NOW</a></p>
        </div>
        <div class="col-md-5 mobile-col">
            <img class="meyers-mid" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/meyers_2.jpg?v=1595080964">
        </div>
      </div>
    </div>
  </div>   <!--   .ll_protein_bar end -->
   <div class="ll_videoan">
  	<div class="container ">
        <div class="row_innercon">
          <h2 class="sec_title_h2" ><span class="highlight-2">Snack</span> with us</h2>
          <h3 class="sec_title_h3" >allow us to introduce ourselves </h3>
          <div class="vIdeobox"> <iframe width=100%  height=400px frameborder="0" src="https://www.youtube.com/embed/f45kwVIhhMg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></div>
      </div>
    </div>
  </div>   <!--   .ll_protein_bar end -->

  <div class="regular-bars">

   <div class="ll_banana_bread ">
  	<div class="container text-uppercase pt-5 pb-5 banna_linet">

      <div class="row button-switcher">
        <div class="col-md-6">
            <p id="regular-button">Regular Size</p>
        </div>
        <div class="col-md-6">
            <p href="#" id="mini-button">Mini Size</p>
        </div>
      </div>
      
      <div class="row">
      <div class="col-md-5 onres_procat">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/banana_front_1_3x_bdde4b21-7a7e-4f6b-a648-a0c1098fa3b6.png?v=1594273876"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center onres_procats">
        <p class="title">banana bread</p>
        <p class="sub_title"><span>+</span> Lion's Mane</p>
        <p class="para">supports focus, mental clarity & creativity.</p>
        <p class="para"><a href="https://levelfoods.com/products/banana-bread?variant=32183586324589" class="btn_flovor fl_bannan">LEARN MORE</a></p>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 onres_procat">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/banana_front_1_3oat.png?v=1594274037"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center onres_procats">
        <p class="title" style="color: #e5c8a9;">oat cookie</p>
        <p class="sub_title"><span>+</span> Cordyceps</p>
        <p class="para">supports energy, endurance, mental power & immunity.</p>
        <p class="para"><a href="https://levelfoods.com/products/oat-cookie?variant=29469465542765" class="btn_flovor fl_oat">LEARN MORE</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 onres_procat">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/brownie_front_1_3oat_1.png?v=1594305166"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center onres_procats">
        <p class="title" style="color: #797979;">salted brownie</p>
        <p class="sub_title"><span>+</span> Reishi</p>
        <p class="para">immunity support, stress relief & longevity.</p>
        <p class="para"><a href="https://levelfoods.com/products/salted-brownie?variant=29469865607277" class="btn_flovor fl_salted">LEARN MORE</a></p>
      </div>
    </div>

    </div>
  </div>
  

  
  <div class="ll_what_need_title mini_what_need">
  	<div class="container my-4 text-uppercase">
      <div class="row text-left">
        <div class="col-md-8 offset-4">
          <p>What you need, <br> When you need it.</p>
          <a href="https://levelfoods.com/collections/level-bars" class="tab-button">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>
  
  {% include 'slarnke_bf_tabs_new' %}
  
</div>


<div class="mini-bars" style="display:none">

  <div class="ll_banana_bread ">
    <div class="container text-uppercase pt-5 pb-5 banna_linet">

      <div class="row button-switcher">
        <div class="col-md-6">
            <p id="regular-button">Regular Size</p>
        </div>
        <div class="col-md-6">
            <p href="#" id="mini-button">Mini Size</p>
        </div>
      </div>
      
      <div class="row">
      <div class="col-md-5 onres_procat">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/products/BBMINIFINALwithlightshadow_720x.png?v=1594836341"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center onres_procats">
        <p class="title">banana bread</p>
        <p class="sub_title"><span>+</span> Lion's Mane</p>
        <p class="para">supports focus, mental clarity & creativity.</p>
        <p class="para"><a href="https://levelfoods.com/products/banana-bread-mini" class="btn_flovor fl_bannan">LEARN MORE</a></p>
        
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 onres_procat">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/products/OCMINIFINALwshadow_720x.png?v=1594839160"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center onres_procats">
        <p class="title" style="color: #e5c8a9;">oat cookie</p>
        <p class="sub_title"><span>+</span> Cordyceps</p>
        <p class="para">supports energy, endurance, mental power & immunity.</p>
        <p class="para"><a href="https://levelfoods.com/products/oat-cookie-mini" class="btn_flovor fl_oat">LEARN MORE</a></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5 onres_procat">
        <img
          src="https://cdn.shopify.com/s/files/1/0248/8084/0813/products/SBFINALwebproductImagewshadow_720x.png?v=1594839420"
          alt=""
        />
      </div>
      <div class="col-md-7 align-self-center onres_procats">
        <p class="title" style="color: #797979;">salted brownie</p>
        <p class="sub_title"><span>+</span> Reishi</p>
        <p class="para">immunity support, stress relief & longevity.</p>
        <p class="para"><a href="https://levelfoods.com/products/salted-brownie-mini" class="btn_flovor fl_salted">LEARN MORE</a></p>
      </div>
    </div>

    </div>
  </div>

  <div class="ll_what_need_title mini_what_need">
    <div class="container my-4 text-uppercase">
      <div class="row text-left">
        <div class="col-md-8 offset-4">
          <p>What you need, <span> When you need it.</span></p>
          <a href="https://levelfoods.com/collections/minis" class="tab-button">SHOP NOW</a>
        </div>
      </div>
    </div>
  </div>

 {% include 'mini-nutration' %}
  
</div>
  {%comment%}
  <div class="ll_review my-5">
  	<div class="container">
      <div class="row text-center text-uppercase">
        <div class="col-md-12">
          <p class="display-4">Don't Just take it from us</p>
          <p class="h2">See What our customers are saying</p>        
        </div>

      </div>
      
     
    </div>
  </div>
  {%endcomment%}
  
<!--   
<div class="container-fluid">

</div> 
-->

</div>  <!--.level_landing end -->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
 

.ll_banana_bread {
    background: linear-gradient(1245deg, #fff0 14%,#F1F1F1 0%,#F1F1F1 85%, #51272700 50%) ;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<style type="text/css">

  .call_dact a.hero_button_add.btn.try-btn-calls {
    padding: 15px;
    font-size: 16px ;
    font-weight: 800 ;
    letter-spacing: 0 ;
    border-radius: 5px ;
    width: 200px;
    margin-top: 23px;
}

  .mini_what_need a.tab-button:hover {
    background: #FFC91E ;
    color: #000 ;
}
.mini_what_need a.tab-button {
    display: block;
    margin-top: 0;
    background: #000 ;
    color: #fff;
    font-size: 16px ;
    font-weight: 800 ;
    padding: 16px;
    max-width: 250px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

  .regular-bars #bf1 p.reg-switch.btn1, .mini-bars #bf1 p.mini-switch.btn1  {
    border-radius: 5px ;
    padding: 20px ;
    font-size: 16px ;
    letter-spacing: 0 ;
    font-weight: 800 ;
    font-family: proxima-nova, sans-serif ;
    display: block;
    max-width: 75%;
    margin: auto;
    line-height: 16px ;
}

.regular-bars #bf1 p.reg-switch.btn1.active, .mini-bars #bf1 p.mini-switch.btn1.active {
    background: #FFC91F ; 
    color: #000 ;
    }

  .stamped-pagination a {
    color: #000;
}

  .mini-bars .ll_banana_bread img {
    transform: scale(1.25);
}

  .regular-bars .ll_banana_bread img {
    max-width: 60%;
    display: block;
    margin: auto;
}

  .ll_adaptogens .row .col-md-5.desktop-col {
    display: block;
  }

  .ll_adaptogens .row .col-md-5.mobile-col {
    display: none;
  }

  /** STICKERS **/

.gluten-free {
    background: #ffcc54;
    padding: 5px 20px;
    border: 1px solid #000;
    text-align: center;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

  .gluten-free p {
    font-size: 22px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 24px;
}

.non-gmo {
    position: relative;
    height: 100%;
}

.non-gmo p {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 30px;
    text-align: center;
    color: #FFCC54;
    padding: 5px 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 40px;
    transform: rotate(-10deg);
}

.dairy-free p {
    font-size: 50px;
    font-weight: 900;
    margin-bottom: 0;
    line-height: 50px;
    text-align: center;
    color: #FFCC54;
}

.dairy-free p:first-child {
    background: #000;
    padding: 5px 10px;
}

.dairy-free p:last-child {
    padding: 5px 10px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.soy-free {
    background: #000;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    position: relative;
    left: 0;
    right: 0;
    margin: auto;
}

.soy-free p {
    font-size: 30px;
    font-weight: 900;
    line-height: 30px;
    text-align: center;
    color: #fff;
    height: 50%;
    position: absolute;
    margin: auto;
    transform: rotate(-5deg);
    top: 0;
    bottom: 0;
}

  p#regular-button.active-button, p#mini-button.active-button {
    background: #ffc91f ;
    color: #000 ;
    cursor: initial;
}

  .row.button-switcher {
    margin-top: 50px;
  }

p#regular-button, p#mini-button {
    display: block;
    margin-top: 0;
    background: #000 ;
    color: #fff;
    font-size: 16px ;
    font-weight: 800 ;
    padding: 20px;
    max-width: 250px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
}

p#regular-button:hover, p#mini-button:hover {
    background: #ffc91f ;
    color: #000;
}

p#regular-button {
  margin-right: 0;
  margin-left: auto;
}

p#mini-button {
  margin-right: auto;
  margin-left: 0;
}

  img.mini-switch.tab_nutri_image {
    max-width: 400px;
}

  img.meyers-mid {
    position: absolute;
    left: 0;
    bottom: -275px;
    width: 550px;
}

  a.btn.check-me-out.buTTon {
    margin-top: 75px;
    background: #000 ;
    color: #fff;
    font-size: 17px ;
    font-weight: 400 ;
}

a.btn.check-me-out.buTTon {
    margin-top: 35px;
    background: #000 ;
    color: #fff;
    font-size: 16px ;
    font-weight: 800 ;
    padding: 20px;
    display: block;
    max-width: 250px;
    margin-left: auto;
    margin-right: auto;
    line-height: 16px;
}

  .ll_header::before {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 225px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    position: absolute;
    z-index: 1;
    bottom: 260px;
}

.ll_header {
    position: relative;
}

  .ll_banana_bread {margin-top:-130px; padding-bottom:80px ;}
   .ll_review.my-5  p.h2 {font-size:44px; margin-top:15px;}
  .ll_review.my-5 {
  margin-top:130px ;
  }
  
  .text-wrapper {
    text-align: center;
  }
  .sub_header {
  	color: #ffc91f;
    font-size: 44px;
    line-height: 42px;
    font-weight: 600;
  }
  .header_taster {
  	color: white;
    font-weight: 800;
    font-size: 5em;
    line-height: 70px;
  }
  .shipping_text {
  	font-size: 35px;
    line-height: 35px;
  }
  .shipping_text span {
  	color: #ffc91f;
    font-weight: 600;
  }
  .btn_order {
  	text-align: center;
  }
  .btn_order .check-me-out, .btn_order .check-me-out:hover, .btn_order .check-me-out:active {
  	background-color: #FFC91F ;
  }
  
  .display-4 {

    font-size: 60px;
    font-weight: 900;
    line-height: 45px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    position:relative;
z-index: 9;
}
  .display-4:after {

    position: absolute;
    content: '';
    top: 15px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;

}
  .page-width.reviews_veriety_pack.try_c h3 {

    display: none;

}
  #shopify-section-bf_reviews {margin-top:-50px;}
  .ll_adaptogens {position:relative; z-index:999;    min-height: 650px;}
  
  .ll_banana_bread {
    background: #F1F1F1 ;
    position:relative;
}
.ll_banana_bread::before {
    background: #171717 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -278px;
    position: absolute;
}
  .ll_banana_bread::after {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    bottom: -150px;
    position: absolute;
}
  .ll_protein_bar.p-5.jntophome {margin-top:-200px;}
  
  
  .ll_protein_bar h1 {

    font-size: 85px;
    font-weight: bold;
    line-height: 76px;    
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
 .ll_banana_bread .para {

    font-size: 39px;
    padding-top: 20px;
    padding-left: 25px;
    max-width: 400px;

}
  .ll_what_need_title{

    margin-top: -122px;
    position: relative;
    padding-bottom: 70px;

}
  .col-md-8 {

   
    flex: 1;
    max-width: 100%;

}
  .offset-4 {

    margin-left: 50%;

}
  .ll_banana_bread .sub_title {

    font-size: 55px;
    margin: 0;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
  .ll_what_need_title p {

    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
  .ll_facts h2 {

    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    margin-bottom: 70px;
    position: relative;
display: inline-table;
}
  .ll_facts h2:after {

    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 250px;
    height: 47%;
    z-index: -1;
    right: 0;

}
  .ll_banana_bread .title {

    color: #ffc91f;
    font-size: 55px ;
    margin: 0;
    text-shadow: 1px 2px 2px rgb(33, 37, 41, 0.2);
    padding-left: 25px;

}
  .ll_banana_bread .row {

    padding: 0px 0px 60px 0;

}
  .ll_facts {z-index:99; position:relative;}
  
  .ll_adaptogens p {
    font-weight: bolder;
    padding: 0;
    font-size: 40px;
    line-height: 40px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    margin-bottom: 0;
}
  .tabproductBox {
    width: calc(33.3% - 20px);
    margin: 10px 10px 10px 10px;
    padding: 0px;
    text-align:center;
}
  .tab_nutri_textbox h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    padding: 15px 46px;
    display:inline-table;
    max-width: 90%;

width: 65%;
}
  
  body {overflow-x:hidden ; width:100%; max-width:100%;}
  #shopify-section-timer {display:none;}
  .row.logo_row {padding-top:25px; padding-bottom:50px;z-index: 9999;position: relative;}
  .ll_header img.levelLogo {

    scale: none ;
    max-width:200px;
}

.row.my-5.flexsy.align-items-center {
    vertical-align: middle;
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
}
  .row.my-5.flexsy {align-items: self-start; margin-top:0px ; padding-bottom: 400px;}
  .col-md-6.align-middle.jnex {padding-bottom:50px;}
  .ll_header table p {
    color: #ffc91f;
    font-size: 44px;
    line-height: 42px;
    font-weight: 600;
}
  .ll_header table p{display:block;}
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 5em;
    line-height: 70px;
}
  .ll_header .btn,.ll_header .btns {

    border-radius: 0 ;
    letter-spacing: 0px ;
    padding: 2px 54px;
    font-size: 30px ;

}
  .img_position {
        transform: rotate(7deg) translateY(0) translateX(-16%);
    /* transform: rotate(-29deg) translateY(-55%) translateX(-55%); */
  }
  
  .ll_header img.prodIngo {
    transform:scale(1.85) ; 
    -webkit-transform:scale(1.85) ;   
    scale:none ;
    max-width: 80%;
  }
  .banner {
  	margin-left: -150px
  }
  
  @media only screen and (max-width: 1600px) {
    .col-md-9.offset-md-3.gtsTextpart {
        margin-left: auto ;
        margin-right: 0 ;
    }
  	.ll_header img.prodIngo { 
      transform:scale(1.5) ; 
      -webkit-transform:scale(1.5) ;   
    }
    .img_position {
          transform: rotate(8deg) translateY(10%) translateX(-5%);
    }
  }
  @media only screen and (max-width: 1330px) {
    .banner {
    	margin-left: -170px
    }
  	.sub_header {
      font-size: 40px;
      line-height: 50px;
	}
    .header_taster {
      font-size: 4em;
      line-height: 60px;
    }
    .shipping_text {
      font-size: 30px;
      line-height: 50px;
    }
    .ll_header .btn,.ll_header .btns {
      font-size: 25px ;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .banner {
    	margin-left: -170px
    }
  	.sub_header {
      font-size: 30px;
      line-height: 35px;
	}
    .header_taster {
      font-size: 3.5em;
      line-height: 40px;
    }
    .shipping_text {
      font-size: 25px;
      line-height: 20px;
    }
    .img_position {
      transform: rotate(-29deg) translateY(-36%) translateX(-10%);
    }
  }
  
  @media only screen and (max-width:991px){
    .banner {
      margin-left: -140px
    }
    .img_position {
      transform: rotate(-29deg) translateY(-36%) translateX(-10%);
    }
    .sub_header {
      font-size: 32px;
    }
    .header_taster {
      font-size: 3.2em;
      line-height: 40px;
    }
    .shipping_text {
      font-size: 23px;
      line-height: 25px
    }
    .ll_header .btn,.ll_header .btns {
      padding: 2px 25px;
      font-size: 24px ;
    }
    .ll_header img.prodIngo {
      transform:scale(1.8) ; 
      -webkit-transform:scale(1.8) ;   
}
    .row.my-5.flexsy {
      padding-bottom: 140px;
    }
    
    .ll_protein_bar {
    	padding: 1rem ;
    }
  
   .row.logo_row { padding-bottom:150px}

.container, .container-md, .container-sm {
    max-width: 100%;
}
    .ll_header table h1 {
      color: white;
      font-weight: 800;
      font-size: 55px;
      line-height: 50px;
}
    .ll_header table p {
      color: #ffc91f;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
}
    .ll_header .btn,.ll_header .btns {
      border-radius: 0 ;
      letter-spacing: 0px ;
      padding: 2px 20px;
      font-size: 25px ;
}
    .row.my-5.flexsy {
      align-items: inherit;
    
}
  }
@media only screen and (max-width:767px){
  .instagram-section h3.section-header__title, .instagram-section .section-header__title.h3 {
    font-size: 3em;
}
  .banner {
    	margin-left: -90px
    }
  .container, .container-md, .container-sm {
    max-width: 85%;
  }
  .col-md-6.align-middle.jnex   {width:50%; padding-left:0px; padding-right:0px; padding-top: 90px;}
  .col-md-6.py-4.nexJ{width:50%;}
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 38px;
    line-height: 34px;
  }
  .sub_header {
    font-size: 20px;
    line-height: 25px;
  }
  .header_taster {
    font-size: 2.3em;
    line-height: 30px;
  }
  .shipping_text {
    font-size: 16px;
    line-height: 20px;
  }
  .row.my-5.flexsy {
    padding-bottom: 30px;
  }
  .ll_protein_bar.p-5.jntophome {
    margin-top: -130px;
  }
  .ll_header table p {
    color: #ffc91f;
    font-size: 21px;
    line-height: 22px;
    font-weight: 600;
  }
  .ll_header .btn,.ll_header .btns {
    border-radius: 0 ;
    letter-spacing: 0px ;
    padding: 2px 12px;
    font-size: 20px ;
  }
  .row.logo_row {
    padding-bottom: 50px;
  }
  .ll_header img.prodIngo {

    transform:scale(2.1) ; 
    -webkit-transform:scale(2.1) ;   
    padding-top: 100px;
  }
  
  .img_position {
      transform: rotate(-29deg) translateY(-59%) translateX(-9%);
    }
}
  
  @media only screen and (max-width: 667px) {
  	.ll_header img.prodIngo {
      transform:scale(2.1) ; 
      -webkit-transform:scale(2.1) ;   
      padding-top: 100px;
    }
    .banner {
      margin-left: -70px;
    }
    
    .img_position {
      transform: rotate(-29deg) translateY(-63%) translateX(-13%);
    }
    .sub_header {
      font-size: 18px;
      line-height: 25px
    }
    .header_taster {
      font-size: 1.8em;
      line-height: 25px
    }
    .shipping_text {
      font-size: 13px;
      line-height: 10px;
    }

    .col-md-9.offset-md-3.gtsTextpart {
    margin-left: auto ;
    margin-right: auto ;
}
    
  }
@media only screen and (max-width: 500px) {

.call_dact a.hero_button_add.btn.try-btn-calls {
  margin-top: 0 ;
}

.regular-bars #bf1 p.reg-switch.btn1, .mini-bars #bf1 p.mini-switch.btn1  {
    padding: 10px 0 ;
    font-size: 14px ;
    max-width: 100% ;
}

  .mini_what_need a.tab-button {
    margin: auto ;
  }

  .regular-bars .ll_banana_bread img {
    max-width: 80%;
    display: block;
    margin: auto;
}

    .ll_adaptogens .row .col-md-5.desktop-col {
    display: none ;
  }

  .ll_adaptogens .row .col-md-5.mobile-col {
    display: block ; 
  }

    img.mini-switch.tab_nutri_image {
    max-width: 100% ;
}

  .row.stickers {
    max-width: 75vw;
    margin: auto;
}

.row.stickers .col-md-3:first-child {
    margin-top: 0;
}

.row.stickers .col-md-3 {
    margin-top: 25px;
}

  .non-gmo p {
    position: relative ;
    transform: rotate(0deg);
  }

  .gluten-free {
    position: relative ;
  }

  .mini-bars .ll_banana_bread img {
    transform: scale(2) ;
  }

  .ll_header::before {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 70px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    position: absolute;
    z-index: 1;
    bottom: 160px;
}
  .banner {
    	margin-left: -15px
    }
    .sub_header {
      font-size: 15px;
      line-height: 20px;
    }
    .header_taster {
      font-size: 1.7em;
      line-height: 20px;
    }
    .shipping_text {
      font-size: 15px;
      line-height: 10px;
    }
  .ll_protein_bar.p-5.jntophome {
    margin-top: -120px;
  }
    a.check-me-out {
      height: 50px;
      width: 130px;
      line-height: 16px;
      padding: 15px ;
    }
}
@media only screen and (max-width:480px){
  .container, .container-md, .container-sm {
    max-width: calc(100% - 20px);
  }
  .col-md-6.align-middle.jnex {
    width:50%;
    padding-left:0px;
    padding-right:0px;
    padding-top: 90px;
  }
  .col-md-6.py-4.nexJ{
    width:50%;
  }
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    margin-bottom:4px;
   }
  .ll_header table p {
    color: #ffc91f;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
   }
    .ll_header .btn,.ll_header .btns {
      border-radius: 0 ;
      letter-spacing: 0px ;
      padding: 2px 11px;
      font-size: 15px ;
    }
    .row.logo_row {
      padding-bottom: 0px;
    }
  .ll_header img.prodIngo {

    transform:scale(2.0) ; 
    -webkit-transform:scale(2.0) ;   
    padding-top: 120px;
}
  
  .sub_header {
    line-height: 25px;
  }
  
    .ll_header img.levelLogo {
    scale: none ;
    max-width: 130px;
}
    .row.logo_row {
  	padding-bottom:30px;
    padding-top: 5px;
}
}

@media only screen and (max-width:350px){ 

  .col-md-5.mobile-col {
    min-height: 350px ;
}

  .row.stickers {
    max-width: 80vw;
    margin: auto;
}

  .ll_header::before {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 50px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    position: absolute;
    z-index: 1;
    bottom: 140px;
}
.ll_adaptogens {
    min-height: 670px ;
}
}
  
  @media only screen and (max-width:1199px){
  .ll_protein_bar h1 {
    font-size: 77px;    
    line-height: 69px;
   
}
  
  }
  @media only screen and (max-width:999px){
  .ll_protein_bar h1 {
    font-size:48px;
line-height: 46px;
   
}

   .container.gnathdnehodn {

    background-size: auto 80% ;
    background-position: left 0px center ;
    max-width: 90%;

}
  .ll_adaptogens p {

    
    font-size: 35px;
    line-height: 35px;  

}
    .ll_banana_bread .para {

    font-size: 28px;
   

}
    .ll_banana_bread .sub_title {
    font-size: 40px;   

}
    .ll_banana_bread .title {

   
    font-size: 45px ;   
    line-height: 42px;

}
    .offset-4 {

    margin-left: 0%;

}
    .ll_what_need_title {
   
    padding-bottom: 20px;

}
    .display-4 {

    font-size: 36px;    
    line-height: 42px;   

}
    .ll_review.my-5  p.h2 {font-size:25px;}
  }
  
   @media only screen and (max-width:770px){

     p#regular-button, p#mini-button {
        margin: 10px auto ;
     }
     
     .ll_protein_bar h1 {

    font-size: 40px;
    line-height: 40px;

}
     .col-md-9.offset-md-3.gtsTextpart {
     
     width:70%;
       margin-left:30%;
       max-width:70%;
     }
     .col-md-5.onres_procat {
     width:50%;
       padding:0px;
       
     }
     .col-md-7.align-self-center.onres_procats{
     width:50%;
       padding:0px;
       
     }
     .ll_banana_bread .title {

    font-size: 36px ;
    line-height: 36px;

}
     .ll_banana_bread .sub_title {

    font-size: 34px;

}
     .ll_banana_bread .para {

    font-size: 22px;

}
     element {

    color: #fff;
    background: #47413c;

}
.tab_nutri_textbox h4 {
 font-size: 14px;
    padding: 8px 15px;
    

}     
}
@media only screen and (max-width: 550px){
      .ll_protein_bar.p-5.jntophome {
    margin-top: -115px;
    padding: 0px ;
}
  .sub_header {
    font-size: 16px;
    line-height: 25px;
  }
  .header_taster {
    font-size: 1.6em;
    line-height: 20px;
  }
  .shipping_text {
    font-size: 12px;
    line-height: 10px;
  }
  
  .ll_protein_bar.p-5.jntophome .container {max-width:88%;}
  .ll_protein_bar h1 {

    font-size: 31px;
    line-height: 31px;

}
  .pb-5, .py-5 {

    padding-bottom: 1.2rem ;

}
  .ll_protein_bar img {
    height: 50px;
  }

  .ll_protein_bar.p-5.jntophome .col {
    padding-right: 5px ;
    padding-left: 5px ;
  }

  .col-md-12.ngnopadd {padding:0px ;}
  .container.gnathdnehodn {
    background-size: auto 80% ;
    background-position: left 0px center ;
    max-width: 94%;
    padding: 40px 0px ;
  }

  .col-md-5.mobile-col {
    min-height: 500px;
}
img.meyers-mid {
    position: absolute;
    left: 0;
    bottom: -110px;
    width: 85vw;
    right: 0;
    margin: auto;
}

  .col-md-9.offset-md-3.gtsTextpart {
    width: 90%;
    margin-left: 36%;
    max-width: 90%;
  }
  .ll_adaptogens p {

    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0px ;

}
  .container.banna_linet{margin-top:-100px;}
  .col-md-5.onres_procat {
    width: 40%;
    padding: 0px;
  }
  .col-md-7.align-self-center.onres_procats {
    width: 60%;
    padding: 0px;
  }
  .ll_banana_bread .para {
    font-size: 20px;
    padding-top: 12px;
  }
  .ll_banana_bread .sub_title {
    font-size: 28px;
  }
  .ll_banana_bread .title {
    font-size: 30px ;
    line-height: 30px;
  }
  .ll_banana_bread::after {
    bottom: -191px;
  }
  .ll_what_need_title {
    margin-top: -70px;
  }
  
  .ll_what_need_title p {
    font-size: 30px;  
    line-height: 30px;
  }
  .ll_what_need_title .col-md-8 {
    flex: 1;
    max-width: 100%;
    margin-left: 0% ;
    text-align:center;
  }
  .ll_review.my-5 {
    margin-top: 60px ;
  }
  .display-4 {
    font-size: 24px;
    line-height: 30px;
  }
  .display-4::after {
    top: 13px;    
    height: 21px;
  }
  .ll_review.my-5 p.h2 {
    font-size: 19px;
    margin-top: 3px;
  }
}
  #shopify-section-level-landing-new {
    overflow:hidden ;
  }

  #shopify-section-level-landing-new  a.check-me-out {
    z-index: 10001;
    cursor: pointer;
  }

  @media only screen and (max-width:550px){
    a.check-me-out {
      height: 40px;
      width: 150px;
      line-height: 16px;
      padding: 12px ;
      font-size: 19px
    }
  }

  .ll_banana_bread img {
    scale:none ;
}
  .ll_videoan {background:#171717; position:relative; z-index:999; margin-top: 100px;}
  .ll_videoan:before {
    background: #171717 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -145px;
    position: absolute;
    z-index: -1;
}
  .sec_title_h2 {

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 1);

}
  .sec_title_h3 {

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 1);

}
  .vIdeobox {
  	display:block;
    padding:40px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
  }
  .container.text-uppercase.pt-5 {
    padding-top: 130px ;
  }
  
  .vIdeobox iframe {
    height: 308px;
  }
  @media only screen and (max-width:550px){
    .vIdeobox iframe {
    height: 270px;
}
    .container.text-uppercase.pt-5 {padding-top: 90px ;}
  .sec_title_h2 {
    font-size: 36px;
}
    .sec_title_h3 {

    
    font-size: 24px;
    
}
    .ll_header .btn,.ll_header .btns {
    	font-size: 19px ;
    }
 
    .ll_videoan::before {
   
    margin-top: -90px;
   
}
    .ll_banana_bread::before {
    
    margin-top: -370px;
}
    .vIdeobox {
   
    padding: 40px 0px;
  
}
  }
@media only screen and (max-width: 440px) {
	.sub_header {
    font-size: 12px;
    line-height: 0px;
    }
  .header_taster {
    font-size: 1.3em;
    line-height: 15px;
  }
  .shipping_text {
    font-size: 9px;
    line-height: 10px;
  }
  .ll_header .btn,.ll_header .btns {
    height: 40px;
    width: 125px;
    font-size: 16px ;
  }
}
  .bg-transparent .btn:hover {background:#ffc107 ; color:#212529;}
  
  
  @media only screen and (max-width:440px){

    .ll_adaptogens {
    min-height: 800px;
}

a.btn.check-me-out.buTTon {
    margin-top: 20px;
    }

    .row.my-5.flexsy {   
    flex-wrap: nowrap;

}
    .col-6.jnex.banner {
    
    flex: 0 0 60%;
margin-left: -10%;
max-width: 60%;
    padding-top: 0;
        position: relative;
    top: -50px;
    }
    
.img_position {
    transform: rotate(30deg) translateY(-38%) translateX(0);
}
  .banner {

    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 45px;

}
 .sub_header {

    font-size: 18px;
    line-height: 22px;
   padding-bottom: 10px ;
    margin-bottom: 0px;
}
.header_taster {

    font-size: 1.9em;
    line-height: 15px;
    padding-top: 5px;
font-weight:900;
}
.shipping_text {

    font-size: 13px;
    line-height: 15px;
  margin-bottom: 10px ;

}
    .ll_header .btn,.ll_header .btns {

    height: auto;
    width: 125px;
    font-size: 16px ;
    line-height: 150%;
    padding: 2px ;

}
.jntophome .col {

    -ms-flex-preferred-size: 0;
    flex-basis: unset;
    -ms-flex-positive: 1;
    flex-grow: inherit;
    max-width: 100%;
    width: 20% ;

}
.ll_protein_bar p span{   
    display:block;
}
.ll_protein_bar.p-5.jntophome .col {
    padding-right: 0px ;
    padding-left: 0px ;
}
}
@media only screen and (max-width:380px){
  .header_taster {

    font-size: 1.6em;
    

}
  .col-6.jnex.banner {
    
    padding-left: 15px;
        position: relative;
    top: -15px;
}
}
  .btn_flovor {
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    font-weight: 800;
    color: #212529;
    text-decoration: none ;
    background: #FFC91F;
    width: 100%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
  .btn_flovor:hover {
   color: #212529;
  }
  .btn_flovor.fl_oat {
  background: #e4c7a7 ;
  }
   .btn_flovor.fl_salted {
  background: #403532 ;
     color: #fff;
  }
  .btn_flovor.fl_salted:hover {
  background: #403532 ;
     color: #fff;
  }
  @media only screen and (max-width:440px){
  .btn_flovor {
    padding: 10px;
    font-size: 16px;   
    width: 90%;
   
}
  }
 a.btn.buTTon {

    padding: 14px 45px;
    font-size: 20px ;
    color: #212529;
    text-decoration: none ;
    background: #FFC91F ;
    display: inline-table;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 700 ;
    text-shadow: none ;

}
@media only screen and (max-width:440px){
   a.btn.buTTon {

    padding: 10px 45px;
    font-size: 16px ;
   

}    
}
  .ll_header .btns {
  
padding: 7px 54px;
color: #212529 ;
text-decoration: none ;
}
  .header_taster.new_set_removable {   
   
    font-size: 5em;
    line-height: 72px;
    padding-bottom:15px;
}
  .header_taster.new_set_removable span {display:block;}
  @media only screen and (max-width:991px){
  .header_taster.new_set_removable {
    font-size: 3.8em;
    line-height: 93px;
}
  }
   @media only screen and (max-width:991px){
  .header_taster.new_set_removable {
    font-size: 2.6em;
    line-height: 40px;
    padding-bottom:5px;
}
  }
   @media only screen and (max-width:550px){
  .header_taster.new_set_removable {
    font-size: 1.6em;
    line-height: 27px;
    padding-bottom:5px;
}
  }
    @media only screen and (max-width:440px){
  .header_taster.new_set_removable {
    font-size: 1.8em;
    line-height: 28px;
}
  }
</style>

<script>
  jQuery(document).ready(function(){

    jQuery(".regular-bars #regular-button").addClass('active-button');

    jQuery(".mini-bars #regular-button").click(function(){
      jQuery(".regular-bars").show();
      jQuery(".mini-bars").hide();
      jQuery(".regular-bars #regular-button").addClass('active-button');
    });

    jQuery(".mini-bars #mini-button").click(function(){
      jQuery(".regular-bars").hide();
      jQuery(".mini-bars").show();
      jQuery(".mini-bars #mini-button").addClass('active-button');
    });

    jQuery(".regular-bars #regular-button").click(function(){
      jQuery(".regular-bars").show();
      jQuery(".mini-bars").hide();
      jQuery(".regular-bars #regular-button").addClass('active-button');
    });

    jQuery(".regular-bars #mini-button").click(function(){
      jQuery(".regular-bars").hide();
      jQuery(".mini-bars").show();
      jQuery(".mini-bars #mini-button").addClass('active-button');
    });

  });
</script>