<div class="new-home-stickers">
  <div class="page-width">
    <div class="grid">
      <div class="grid__item small--one-quarter medium-up--one-quarter">
        <div class="dairy-free"><p>DAIRY</p><p>FREE</p></div>
      </div>
      <div class="grid__item small--one-quarter medium-up--one-quarter">
        <div class="soy-free"><p>SOY FREE</p></div>
      </div>
      <div class="grid__item small--one-quarter medium-up--one-quarter">
        <div class="non-gmo"><p>NON-GMO</p></div>
      </div>
      <div class="grid__item small--one-quarter medium-up--one-quarter">
        <div class="gluten-free"><p>GLUTEN-FREE CERTIFIED</p></div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "New Home - Stickers",
    "settings": [
    ],
    "presets": [{
      "name": "New Home - Stickers",
      "category": "New Homepage Sections"
    }]
  }
{% endschema %}
