<div class="level_landing pb-5 LandingMini">
  
  <div class="ll_header page_mini text-white">
    <img class="positionimg m_left" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/apple-crisp-left.png?v=1591894305">
    <img class="positionimg m_center" style="display:none;" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/brownie_2x1.png?v=1591034333">
    <img class="positionimg m_right" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/apple-crisp-right.png?v=1591894305">
  	<div class="container">
      <div class="row logo_row">
        <div class="col-md-12 text-center">
         <a class="text-white font-weight-bolder" href="https://levelfoods.com/collections/level-bars"><img class="levelLogo" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/54/assets/image_6.png?v=2956755615347581155"></a>
        </div>
      </div>
      <div class="row my-5 flexsy align-items-center adjustedcenter">       
      	<div class="col-6 ">
          <div class="text-wrapper">
            <div class="bg-transparent">
             
              <h1 class="header_taster new_set_removable mini_title">  <span>APPLE</span> CRISP <br>IS NOW LIVE! </h1>
             
            </div>
          </div>
          <div class="btn_order" >
          	<a href="https://levelfoods.com/products/apple-crisp"  class="btn check-me-out">SHOP NOW</a>
          </div>
        </div>
      </div>
    </div>
  </div>   <!-- .ll_header end -->
  
  <div class="ll_protein_bar p-5 jntophome">
  	<div class="container">
      <div class="row text-center pb-5">
      	<div class="col-md-12 ngnopadd">
          <h2>WE'RE NOT YOUR   <br>
            AVERAGE <span> PROTEIN BAR </span>
          </h2>
        </div>
      </div> <!-- first row end -->
      <div class="row text-center">
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/gluten-free.png?v=1587603463" alt="" srcset=""><br>
          <p>GLUTEN FREE</p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/no-gmo.png?v=1587604077" alt="" srcset=""><br>
        <p>NON <span>GMO</span></p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/dairy-free.png?v=1587604519" alt="" srcset=""><br>
        <p>DAIRY <span>FREE</span></p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/soy-free.png?v=1587605046" alt="" srcset=""><br>
        <p>SOY <span>FREE</span></p>
      </div>
      <div class="col">
          <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/sugar-alcohols.png?v=1587605235" alt="" srcset=""><br>
        <p>NO SUGAR <span>ALCOHOLS</span></p>
      </div>
    </div>
      
    </div>
  </div>  <!-- .ll_top_product end -->
  
  
   <div class="blacTagLine">
  	<div class="container gnathdnehodn text-center text-uppercase align-self-center" >
        <div class="row">
        <div class="col-md-9 offset-md-3 gtsTextpart" style="margin: auto;">
          <h2 class="blackTagline_text"> PRESALE</h2>
           
        </div>
      </div>
    </div>
  </div> 
  <div class="rowProductbox pr_banna">
  	<div class="container gnathdnehodn text-center text-uppercase align-self-center" >
        <div class="row">
        <div class="col-md-7">
            <img class="bgn_product_image" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/fullbar_2x_af9ece34-2b39-4056-a6f2-c45d4d4d3968.png?v=1591890780">         
        </div>
          <div class="col-md-5 align-self-center">
            <h3 class="bgn_product_title">  APPLE CRISP BAR </h3>
           <ul class="crispbarlisting">
             <li>200 CALS</li>
              <li>14G PROTEIN</li>
              <li>+ MACA BOOST</li>
            </ul>
             <p class="bgn_product_button"><a href="https://levelfoods.com/products/apple-crisp" class="btn_flovor fl_bannan">LEARN MORE</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="rowProductbox pr_oat">
  	<div class="container gnathdnehodn text-center text-uppercase align-self-center" >
        <div class="row">
        <div class="col-md-7">
            <img class="bgn_product_image" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/minbar_2x_ae637606-c0fb-4799-a82e-08207205c800.png?v=1591890923">         
        </div>
          <div class="col-md-5 align-self-center">
            <h3 class="bgn_product_title">  APPLE CRISP MINI </h3>
            <ul class="crispbarlisting minibars">
             <li>100 CALS</li>
              <li>7G PROTEIN</li>
              <li>+ MACA BOOST</li>
            </ul>
             <p class="bgn_product_button"><a href="https://levelfoods.com/products/apple-crisp-mini" class="btn_flovor fl_oat">LEARN MORE </a></p>
        </div>
      </div>
    </div>
  </div>
  
 

 
  <div class="ll_what_need_title mini_what_need">
  	<div class="container my-4 text-uppercase">
      <div class="row text-left">
        <div class="col-md-8 offset-4">
          <p>What you need, <span> When you need it.</span></p>
          
        </div>
      </div>
    </div>
  </div>

 {% include 'apple-crisp-nutration' %}
  
  <div class="apple-crsip-callaction">
  	<div class="container my-4 text-uppercase">
      <div class="row text-left">
        <div class="col-md-12 offset-4 shopw_b">
          <p class="bgn_product_button"><a href="https://levelfoods.com/collections/minis" class="btn_flovor fl_bannan">SHOP MINI</a></p>
          <p class="bgn_product_button"><a href="https://levelfoods.com/collections/level-bars" class="btn_flovor fl_bannan">SHOP REGULAR </a></p>
        </div>
      </div>
    </div>
  </div>

  <div class="rowProductbox pr_banna bottom_apples eggs">
  	<div class="container gnathdnehodn text-center text-uppercase align-self-center" >
        <div class="row">
        <div class="col-md-7">
            <img class="bgn_product_image" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/brownie_2x_280a4a6c-700c-42d9-a32d-5022072beaa8.png?v=1591891062">         
        </div>
          <div class="col-md-5 align-self-center">
            <h3 class="bgn_product_title">  STAMINA, BEAUTY & MOOD BOOSTER </h3>
           <p class="bgn_product_desc appleC">Like biting into a fresh green apple on a warm summer day, our Apple Crisp flavor gives a refreshing crisp in every bite. Where flavor meets the added benefits of stamina and energy from maca, Apple Crisp sets the mood.
</p>
             <p class="bgn_product_button"><a href="https://levelfoods.com/pages/maca" class="btn_flovor fl_bannan">LEARN MORE</a></p>
        </div>
      </div>
    </div>
  </div>


  
 
  

  
<!--   
<div class="container-fluid">

</div> 
-->

</div>  <!--.level_landing end -->


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
 

.ll_banana_bread {
    background: linear-gradient(1245deg, #fff0 14%,#F1F1F1 0%,#F1F1F1 85%, #51272700 50%) ;
}

{% endstylesheet %}

{% javascript %}
{% endjavascript %}


<style type="text/css">
  .apple-crsip-callaction {
padding: 50px 0px;
margin-top: 100px;
background: #000;
position: relative;
z-index: 999;
min-height: 350px;
  }
  .apple-crsip-callaction:after {
    background: #000 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    bottom: -140px;
    position: absolute;
    z-index: -1;
}
  .btn.check-me-out.buTTon.shopnowb {
    margin-top: 15px;
    background: #000 ;
    color: #fff;
    
}

  
  .ll_banana_bread {margin-top:-130px; padding-bottom:80px ;}
   .ll_review.my-5  p.h2 {font-size:44px; margin-top:15px;}
  .ll_review.my-5 {
  margin-top:130px ;
  }
  
  .text-wrapper {
    text-align: center;
  }
  .sub_header {
  	color: #ffc91f;
    font-size: 44px;
    line-height: 42px;
    font-weight: 600;
  }
  .header_taster {
  	color: white;
    font-weight: 800;
    font-size: 5em;
    line-height: 70px;
  }
  .shipping_text {
  	font-size: 35px;
    line-height: 35px;
  }
  .shipping_text span {
  	color: #ffc91f;
    font-weight: 600;
  }
  .btn_order {
  	text-align: center;
  }
  .btn_order .check-me-out, .btn_order .check-me-out:hover, .btn_order .check-me-out:active {
  	background-color: #FFC91F ;
  }
  
  .display-4 {

    font-size: 60px;
    font-weight: 900;
    line-height: 45px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    position:relative;
z-index: 9;
}
  .display-4:after {

    position: absolute;
    content: '';
    top: 15px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;

}
  .page-width.reviews_veriety_pack.try_c h3 {

    display: none;

}
  #shopify-section-bf_reviews {margin-top:-50px;}
  .ll_adaptogens {position:relative; z-index:999;}
  
  .ll_banana_bread {
    background: #F1F1F1 ;
    position:relative;
}
.ll_banana_bread::before {
    background: #171717 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -278px;
    position: absolute;
}
  .ll_banana_bread::after {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    bottom: -150px;
    position: absolute;
}
   .rowProductbox.pr_oat:after {
    background: #D9E695 ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    bottom: -140px;
    position: absolute;
     z-index:-1;
}
  .ll_protein_bar.p-5.jntophome {margin-top:-70px;}
  
  
  .ll_protein_bar h2  {
    font-size: 55px;
    font-weight: 800;
    line-height: 55px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    position:relative;
}
 .ll_banana_bread .para {

    font-size: 39px;
    padding-top: 20px;
    padding-left: 25px;
    max-width: 400px;

}
  .ll_what_need_title{

    margin-top: 235px;
    position: relative;
    padding-bottom: 70px;

}
  .col-md-8 {

   
    flex: 1;
    max-width: 100%;

}
  .offset-4 {

    margin-left: 50%;

}
  .ll_banana_bread .sub_title {

    font-size: 55px;
    margin: 0;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
  .ll_what_need_title p {

    font-size: 55px;
    font-weight: 700;
    line-height: 50px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);

}
  .ll_facts h2 {

    font-size: 60px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
    margin-bottom: 70px;
    position: relative;
display: inline-table;
}
  .ll_facts h2:after {

    position: absolute;
    content: '';
    top: 20px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 250px;
    height: 47%;
    z-index: -1;
    right: 0;

}
  .ll_banana_bread .title {

    color: #ffc91f;
    font-size: 55px ;
    margin: 0;
    text-shadow: 1px 2px 2px rgb(33, 37, 41, 0.2);
    padding-left: 25px;

}
  .ll_banana_bread .row {

    padding: 0px 0px 60px 0;

}
  .ll_facts {z-index:99; position:relative;}
  
  .ll_adaptogens p {
    font-weight: bolder;
    padding: 15px 0px;
    font-size: 50px;
    line-height: 46px;
    text-shadow: 0px 2px 2px rgb(33, 37, 41, 0.2);
}
  .tabproductBox {
    width: calc(33.3% - 20px);
    margin: 10px 10px 10px 10px;
    padding: 0px;
    text-align:center;
}
  .tab_nutri_textbox h4 {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 900;
    padding: 15px 46px;
    display:inline-table;
    max-width: 90%;

width: 65%;
}
  
  body {overflow-x:hidden ; width:100%; max-width:100%;}
  #shopify-section-timer {display:none;}
  .row.logo_row {padding-top:25px; padding-bottom:130px}
  .ll_header img.levelLogo {

    scale: none ;
    max-width:200px;
}
  .row.my-5.flexsy {align-items: self-start; margin-top:0px ; padding-bottom: 260px;}
  .col-md-6.align-middle.jnex {padding-bottom:50px;}
  .ll_header table p {
    color: #ffc91f;
    font-size: 44px;
    line-height: 42px;
    font-weight: 600;
}
  .ll_header table p{display:block;}
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 5em;
    line-height: 70px;
}
  .ll_header .btn,.ll_header .btns {

    border-radius: 0 ;
    letter-spacing: 0px ;
    padding: 2px 54px;
    font-size: 30px ;

}
  .img_position {
   transform: rotate(-18deg) translateY(-25%) translateX(-45%);
    /*transform: rotate(-29deg) translateY(-55%) translateX(-55%)*/
  }
  
  .ll_header img.prodIngo {
    transform:scale(2.2) ; 
    -webkit-transform:scale(2.2) ;   
    scale:none ;
    max-width: 80%;
  }
  .banner {
  	margin-left: -150px
  }
  
  @media only screen and (max-width: 1600px) {
  	.ll_header img.prodIngo {
      transform:scale(2) ; 
      -webkit-transform:scale(2) ;   
    }
    .img_position {
      transform: rotate(-29deg) translateY(-55%) translateX(-30%);
    }
  }
  @media only screen and (max-width: 1330px) {
    .banner {
    	margin-left: -170px
    }
  	.sub_header {
      font-size: 40px;
      line-height: 50px;
	}
    .header_taster {
      font-size: 4em;
      line-height: 60px;
    }
    .shipping_text {
      font-size: 30px;
      line-height: 50px;
    }
    .ll_header .btn,.ll_header .btns {
      font-size: 25px ;
    }
  }
  
  @media only screen and (max-width: 1024px) {
    .banner {
    	margin-left: -170px
    }
  	.sub_header {
      font-size: 30px;
      line-height: 35px;
	}
    .header_taster {
      font-size: 3.5em;
      line-height: 40px;
    }
    .shipping_text {
      font-size: 25px;
      line-height: 20px;
    }
    .img_position {
      transform: rotate(-29deg) translateY(-36%) translateX(-10%);
    }
  }
  
  @media only screen and (max-width:991px){
    .banner {
      margin-left: -140px
    }
    .img_position {
      transform: rotate(-29deg) translateY(-36%) translateX(-10%);
    }
    .sub_header {
      font-size: 32px;
    }
    .header_taster {
      font-size: 3.2em;
      line-height: 40px;
    }
    .shipping_text {
      font-size: 23px;
      line-height: 25px
    }
    .ll_header .btn,.ll_header .btns {
      padding: 2px 25px;
      font-size: 24px ;
    }
    .ll_header img.prodIngo {
      transform:scale(1.8) ; 
      -webkit-transform:scale(1.8) ;   
}
    .row.my-5.flexsy {
      padding-bottom: 140px;
    }
    
    .ll_protein_bar {
    	padding: 1rem ;
    }
  
   .row.logo_row { padding-bottom:150px}

.container, .container-md, .container-sm {
    max-width: 100%;
}
    .ll_header table h1 {
      color: white;
      font-weight: 800;
      font-size: 55px;
      line-height: 50px;
}
    .ll_header table p {
      color: #ffc91f;
      font-size: 30px;
      line-height: 30px;
      font-weight: 600;
}
    .ll_header .btn,.ll_header .btns {
      border-radius: 0 ;
      letter-spacing: 0px ;
      padding: 2px 20px;
      font-size: 25px ;
}
    .row.my-5.flexsy {
      align-items: inherit;
    
}
  }
@media only screen and (max-width:767px){
  .banner {
    	margin-left: -90px
    }
  .container, .container-md, .container-sm {
    max-width: 85%;
  }
  .col-md-6.align-middle.jnex   {width:50%; padding-left:0px; padding-right:0px; padding-top: 90px;}
  .col-md-6.py-4.nexJ{width:50%;}
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 38px;
    line-height: 34px;
  }
  .sub_header {
    font-size: 20px;
    line-height: 25px;
  }
  .header_taster {
    font-size: 2.3em;
    line-height: 30px;
  }
  .shipping_text {
    font-size: 16px;
    line-height: 20px;
  }
  .row.my-5.flexsy {
    padding-bottom: 30px;
  }
  .ll_protein_bar.p-5.jntophome {
    margin-top: -130px;
  }
  .ll_header table p {
    color: #ffc91f;
    font-size: 21px;
    line-height: 22px;
    font-weight: 600;
  }
  .ll_header .btn,.ll_header .btns {
    border-radius: 0 ;
    letter-spacing: 0px ;
    padding: 2px 12px;
    font-size: 20px ;
  }
  .row.logo_row {
    padding-bottom: 50px;
  }
  .ll_header img.prodIngo {

    transform:scale(2.1) ; 
    -webkit-transform:scale(2.1) ;   
    padding-top: 100px;
  }
  
  .img_position {
      transform: rotate(-29deg) translateY(-59%) translateX(-9%);
    }
}
  
  @media only screen and (max-width: 667px) {
  	.ll_header img.prodIngo {
      transform:scale(2.1) ; 
      -webkit-transform:scale(2.1) ;   
      padding-top: 100px;
    }
    .banner {
      margin-left: -70px;
    }
    
    .img_position {
      transform: rotate(-29deg) translateY(-63%) translateX(-13%);
    }
    .sub_header {
      font-size: 18px;
      line-height: 25px
    }
    .header_taster {
      font-size: 1.8em;
      line-height: 25px
    }
    .shipping_text {
      font-size: 13px;
      line-height: 10px;
    }
    
  }
@media only screen and (max-width: 500px) {
  .banner {
    	margin-left: -15px
    }
    .sub_header {
      font-size: 15px;
      line-height: 20px;
    }
    .header_taster {
      font-size: 1.7em;
      line-height: 20px;
    }
    .shipping_text {
      font-size: 15px;
      line-height: 10px;
    }
  .ll_protein_bar.p-5.jntophome {
    margin-top: -120px;
  }
    a.check-me-out {
      height: 50px;
      width: 130px;
      line-height: 16px;
      padding: 15px ;
    }
}
@media only screen and (max-width:480px){
  .container, .container-md, .container-sm {
    max-width: calc(100% - 20px);
  }
  .col-md-6.align-middle.jnex {
    width:50%;
    padding-left:0px;
    padding-right:0px;
    padding-top: 90px;
  }
  .col-md-6.py-4.nexJ{
    width:50%;
  }
  .ll_header table h1 {
    color: white;
    font-weight: 800;
    font-size: 32px;
    line-height: 30px;
    margin-bottom:4px;
   }
  .ll_header table p {
    color: #ffc91f;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
   }
    .ll_header .btn,.ll_header .btns {
      border-radius: 0 ;
      letter-spacing: 0px ;
      padding: 2px 11px;
      font-size: 15px ;
    }
    .row.logo_row {
      padding-bottom: 0px;
    }
  .ll_header img.prodIngo {

    transform:scale(0.6) ; 
    -webkit-transform:scale(2.5) ;   
    padding-top: 120px;
}
  
  .sub_header {
    line-height: 25px;
  }
  
    .ll_header img.levelLogo {
    scale: none ;
    max-width: 130px;
}
    .row.logo_row {
  	padding-bottom:30px;
    padding-top: 5px;
}
}
  
  @media only screen and (max-width:1199px){
  .ll_protein_bar h1 {
    font-size: 77px;    
    line-height: 69px;
   
}
  
  }
  @media only screen and (max-width:999px){
  .ll_protein_bar h1 {
    font-size:48px;
line-height: 46px;
   
}

   .container.gnathdnehodn {

    background-size: auto 80% ;
    background-position: left 0px center ;
    max-width: 90%;

}
  .ll_adaptogens p {

    
    font-size: 35px;
    line-height: 35px;  

}
    .ll_banana_bread .para {

    font-size: 28px;
   

}
    .ll_banana_bread .sub_title {
    font-size: 40px;   

}
    .ll_banana_bread .title {

   
    font-size: 45px ;   
    line-height: 42px;

}
    .offset-4 {

    margin-left: 0%;

}
    .ll_what_need_title {
   
    padding-bottom: 20px;

}
    .display-4 {

    font-size: 36px;    
    line-height: 42px;   

}
    .ll_review.my-5  p.h2 {font-size:25px;}
  }
  
   @media only screen and (max-width:770px){
     
     .ll_protein_bar h1 {

    font-size: 40px;
    line-height: 40px;

}
     .col-md-9.offset-md-3.gtsTextpart {
     
     width:70%;
       margin-left:30%;
       max-width:70%;
     }
     .col-md-5.onres_procat {
     width:50%;
       padding:0px;
       
     }
     .col-md-7.align-self-center.onres_procats{
     width:50%;
       padding:0px;
       
     }
     .ll_banana_bread .title {

    font-size: 36px ;
    line-height: 36px;

}
     .ll_banana_bread .sub_title {

    font-size: 34px;

}
     .ll_banana_bread .para {

    font-size: 22px;

}
     element {

    color: #fff;
    background: #47413c;

}
.tab_nutri_textbox h4 {
 font-size: 14px;
    padding: 8px 15px;
    

}     
}
@media only screen and (max-width: 550px){
      .ll_protein_bar.p-5.jntophome {
    margin-top: -115px;
    padding: 0px ;
}
  .sub_header {
    font-size: 16px;
    line-height: 25px;
  }
  .header_taster {
    font-size: 1.6em;
    line-height: 20px;
  }
  .shipping_text {
    font-size: 12px;
    line-height: 10px;
  }
  
  .ll_protein_bar.p-5.jntophome .container {max-width:88%;}
  .ll_protein_bar h1 {

    font-size: 31px;
    line-height: 31px;

}
  .pb-5, .py-5 {

    padding-bottom: 1.2rem ;

}
  .ll_protein_bar img {
    height: 50px;
  }

  .ll_protein_bar.p-5.jntophome .col {
    padding-right: 5px ;
    padding-left: 5px ;
  }

  .col-md-12.ngnopadd {padding:0px ;}
  .container.gnathdnehodn {
    background-size: auto 80% ;
    background-position: left 0px center ;
    max-width: 94%;
    padding: 0px 0px ;
  }

  .col-md-9.offset-md-3.gtsTextpart {
    width: 64%;
    margin-left: 36%;
    max-width: 64%;
  }
  .ll_adaptogens p {

    font-size: 22px;
    line-height: 24px;
    margin-bottom: 0px ;

}
  .container.banna_linet{margin-top:-100px;}
  .col-md-5.onres_procat {
    width: 40%;
    padding: 0px;
  }
  .col-md-7.align-self-center.onres_procats {
    width: 60%;
    padding: 0px;
  }
  .ll_banana_bread .para {
    font-size: 20px;
    padding-top: 12px;
  }
  .ll_banana_bread .sub_title {
    font-size: 28px;
  }
  .ll_banana_bread .title {
    font-size: 30px ;
    line-height: 30px;
  }
  .ll_banana_bread::after {
    bottom: -191px;
  }
  .ll_what_need_title {
    margin-top: -70px;
  }
  
  .ll_what_need_title p {
    font-size: 30px;  
    line-height: 30px;
  }
  .ll_what_need_title .col-md-8 {
    flex: 1;
    max-width: 100%;
    margin-left: 0% ;
    text-align:center;
  }
  .ll_review.my-5 {
    margin-top: 60px ;
  }
  .display-4 {
    font-size: 24px;
    line-height: 30px;
  }
  .display-4::after {
    top: 13px;    
    height: 21px;
  }
  .ll_review.my-5 p.h2 {
    font-size: 19px;
    margin-top: 3px;
  }
  .ll_adaptogens.newset_mimi {
    
    padding-bottom: 85px ;   
    padding-top: 32px;
}
}
  #shopify-section-level-landing-new {
    overflow:hidden ;
  }

  #shopify-section-level-landing-new  a.check-me-out {
    z-index: 10001;
    cursor: pointer;
  }

  @media only screen and (max-width:550px){
    a.check-me-out {
      height: 40px;
      width: 150px;
      line-height: 16px;
      padding: 12px ;
      font-size: 19px
    }
  }

  .ll_banana_bread img {
    scale:none ;
}
  .ll_videoan {background:#171717; position:relative; z-index:999; margin-top: 100px;}
  .ll_videoan:before {
    background: #171717 ;
    content: '';
    width: 100%;
    min-height: 370px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -232px;
    position: absolute;
    z-index: -1;
}
  .sec_title_h2 {

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 55px;
    font-weight: 900;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 1);

}
  .sec_title_h3 {

    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 400;
    text-shadow: 0px 2px 2px rgb(0, 0, 0, 1);

}
  .vIdeobox {
  	display:block;
    padding:40px;
    max-width:700px;
    margin-left:auto;
    margin-right:auto;
  }
  .container.text-uppercase.pt-5 {
    padding-top: 130px ;
  }
  
  .vIdeobox iframe {
    height: 308px;
  }
  @media only screen and (max-width:550px){
    .vIdeobox iframe {
    height: 270px;
}
    .container.text-uppercase.pt-5 {padding-top: 90px ;}
  .sec_title_h2 {
    font-size: 36px;
}
    .sec_title_h3 {

    
    font-size: 24px;
    
}
    .ll_header .btn,.ll_header .btns {
    	font-size: 19px ;
    }
 
    .ll_videoan::before {
   
    margin-top: -90px;
   
}
    .ll_banana_bread::before {
    
    margin-top: -370px;
}
    .vIdeobox {
   
    padding: 40px 0px;
  
}
  }
@media only screen and (max-width: 440px) {
	.sub_header {
    font-size: 12px;
    line-height: 0px;
    }
  .header_taster {
    font-size: 1.3em;
    line-height: 15px;
  }
  .shipping_text {
    font-size: 9px;
    line-height: 10px;
  }
  .ll_header .btn,.ll_header .btns {
    height: 40px;
    width: 125px;
    font-size: 16px ;
  }
}
  .bg-transparent .btn:hover {background:#ffc107 ; color:#212529;}
  
  
  @media only screen and (max-width:440px){
    .row.my-5.flexsy {   
    flex-wrap: nowrap;

}
    .col-6.jnex.banner {
    
    flex: 0 0 60%;
margin-left: -10%;
max-width: 60%;
    }
    
.img_position {
     transform: rotate(-25deg) translateY(-63%) translateX(-8%);
    }
  .banner {

    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    padding-top: 45px;

}
 .sub_header {

    font-size: 18px;
    line-height: 22px;
   padding-bottom: 10px ;
    margin-bottom: 0px;
}
.header_taster {

    font-size: 1.9em;
    line-height: 15px;
    padding-top: 5px;
font-weight:900;
}
.shipping_text {

    font-size: 13px;
    line-height: 15px;
  margin-bottom: 10px ;

}
    .ll_header .btn,.ll_header .btns {

    height: auto;
    width: 125px;
    font-size: 16px ;
    line-height: 150%;
    padding: 2px ;

}
.jntophome .col {

    -ms-flex-preferred-size: 0;
    flex-basis: unset;
    -ms-flex-positive: 1;
    flex-grow: inherit;
    max-width: 100%;
    width: 20% ;

}
.ll_protein_bar p {   
    font-size: 13px;
}
.ll_protein_bar p span{   
    display:block;
}
.ll_protein_bar.p-5.jntophome .col {
    padding-right: 0px ;
    padding-left: 0px ;
}
}
@media only screen and (max-width:380px){
  .header_taster {

    font-size: 1.6em;
    

}
  .col-6.jnex.banner {
    
    padding-left: 15px;
}
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .crispbarlisting li {
  font-weight:600;
    font-size:20px;
    color:#fff;
    list-style:none;
    position:relative;
  }  
  .crispbarlisting li:before {
  content:'✓';
    padding-right:10px;
  
  }
  .crispbarlisting.minibars li{
  color:#749642;
  }
  
  
  .btn_flovor {
    padding: 14px;
    font-size: 20px;
    font-weight:600;
    color: #000 ;
    text-decoration: none ;
    background: #fff;
    width: 100%;
    display: inline-block;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
  .btn_flovor:hover {
   
     background: #000;
     color: #fff ;
  }
  .btn_flovor.fl_oat {
  background: #FFF ;
  }
  .btn_flovor.fl_oat:hover {
  background: #000 ;
  }
   .btn_flovor.fl_salted {
  background: #fff ;
     color: #000 ;
  }
  .btn_flovor.fl_salted:hover {
 
     color: #000 ;
  }
  @media only screen and (max-width:440px){
  .btn_flovor {
    padding: 10px;
    font-size: 16px;   
    width: 90%;
   
}
  }
 a.btn.buTTon {

    padding: 14px 45px;
    font-size: 20px ;
    color: #212529;
    text-decoration: none ;
    background: #FFC91F ;
    display: inline-table;
    text-align: center;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: 700 ;
    text-shadow: none ;

}
@media only screen and (max-width:440px){
   a.btn.buTTon {

    padding: 10px 45px;
    font-size: 16px ;
   

}    
}
  .ll_header .btns {
  
padding: 7px 54px;
color: #212529 ;
text-decoration: none ;
}
  .header_taster.new_set_removable {   
   
    font-size: 5em;
    line-height: 72px;
    padding-bottom:15px;
}
 
  @media only screen and (max-width:991px){
  .header_taster.new_set_removable {
    font-size: 3.8em;
    line-height: 93px;
}
  }
   @media only screen and (max-width:991px){
  .header_taster.new_set_removable {
    font-size: 2.6em;
    line-height: 40px;
    padding-bottom:5px;
}
  }
   @media only screen and (max-width:550px){
  .header_taster.new_set_removable {
    font-size: 1.6em;
    line-height: 27px;
    padding-bottom:5px;
}
  }
    @media only screen and (max-width:440px){
  .header_taster.new_set_removable {
    font-size: 1.8em;
    line-height: 28px;
}
  }
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
/*** Mini Page ***/
 .ll_header img {
    scale: none ;
} 
  .ingenpad {margin-top:110px;}
 
  
 .LandingMini .ll_header.page_mini {
    background: #F2F2F2 ; 
   padding-bottom: 250px;
}
 .LandingMini .ll_header.page_mini:after {
    background: #fff ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: 100px;
    position: absolute;
   
}
  .row.adjustedcenter {
  justify-content: center;
  }
  .LandingMini .mini_title {color:#000; position:relative; z-index:1;}
    .LandingMini .mini_title span{ position:relative;}
  .ll_protein_bar h2 span {position:relative; z-index:1;}
   .ll_protein_bar h2 span:after, .LandingMini .mini_title span:after {
    position: absolute;
    content: '';
    top: 40px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;
}
  .ll_protein_bar h2 span:after {
  height:25px;
    top: 32px;
  }
  .positionimg {
     position: absolute;
    
}
  
  
.positionimg.m_left {
    left: -134px;
    top: 55%;
    max-width: 550px;
}
.positionimg.m_right {
    right: -112px;
    top: 27%;
    max-width: 550px;
}
.positionimg.m_center {
    bottom: -26px;
    left: 37%;
    max-width: 570px;
}
 
  
.blacTagLine:before {
    background: #000 ;
    content: '';
    width: 100%;
    min-height: 100px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: 100px;
    position: absolute;
   z-index:1;
   
}
  .blackTagline_text{
    transform: skew(0deg,-8deg);
    margin-top: 116px;
    color: #fff;
    font-weight: 800;
    font-size: 55px;
    z-index:9;
}
  .rowProductbox {
  position:relative;
    min-height: 300px;
margin-top: 100px;
    padding-bottom: 160px;
  }
  .rowProductbox.pr_banna{
  background:#A9B85F;
 padding-bottom:240px;
    margin-top:150px;
  }
  .rowProductbox.pr_oat{
  background:#D9E695;
 
   padding-bottom:36px;
    z-index:999;
  }
  .rowProductbox.pr_salted{
  background:#F7E8DA;
 
  }
  .rowProductbox.pr_banna:before {
  background: #A9B85F ;
    content: '';
    width: 100%;
    min-height: 290px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -140px;
    position: absolute;
  }
  .bgn_product_title{
    font-size: 40px;
    font-weight: 700;
    text-transform:uppercase;
}
  
  .bgn_product_desc {
  font-size:20px;
    font-weight:600;
   text-transform:none;
    
  }
  .rowProductbox.pr_banna .bgn_product_title {color:#fff;}
  .rowProductbox.pr_oat .bgn_product_title {color:#000;}
  .rowProductbox.pr_salted .bgn_product_title {color:#fff;}
  .rowProductbox.pr_salted .bgn_product_desc {color:#fff;}
  
  .rowProductbox.pr_oat { background:#D9E695; padding-bottom: 20px; margin-top:0px ;}
  .rowProductbox.pr_oat:before  {
    background: #D9E695 ;
    content: '';
    width: 100%;
    min-height: 386px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -140px;
    position: absolute;
    
}
    .rowProductbox.pr_salted { background:#180E0F;}
  .rowProductbox.pr_salted {
  padding-bottom: 80px;
  }
  .gnindex {z-index:99999; position:relative;}
   .rowProductbox.pr_salted:before  {
    background: #180E0F ;
    content: '';
    width: 100%;
    min-height: 386px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    margin-top: -243px;
    position: absolute;
}
  .rowProductbox.pr_salted::after {
    background: #180E0F ;
    content: '';
    width: 100%;
    min-height: 287px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);   
    position: absolute;
    bottom: -136px;
    z-index: 9999;
}
  .subscriptionsarea {
  min-height:400px;
    background:#F5F5F5;
    padding: 200px 0px 320px 0px;
  }
  .innercircelwhite {
  width:300px;
    height:300px;
    background:#fff;
    border-radius: 50%;
  
  }
  .subscribe_title {
  font-size:55px;
    font-weight:800;
    z-index:1;
    position:relative;
    line-height:55px;
  }
  .subscribe_title span {position:relative;}
  .subscribe_title span:after {
   position: absolute;
    content: '';
    top: 27px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;
  }
  .subtext_subs{
    font-size: 20px;
    font-weight: 600;
    padding-top: 10px;
    line-height: 120%;
}
  .btn_flovor.subscriptions {background:#000; color:#fff ; max-width: 65%}
  .ll_videoan {   
   padding-bottom: 90px;
}
  .ll_videoan .container  {position:relative; z-index:999;}
  .ll_videoan:after{
background: #171717 ;
content: '';
width: 100%;
min-height: 280px ;
-webkit-transform: skew(0deg,-8deg);
transform: skew(0deg,-8deg);
bottom: -136px;
position: absolute;

    
}
  .ll_what_need_title.mini_what_need{
    
    position: relative;
   
}
  .ll_what_need_title.mini_what_need .text-left p{
   
    font-size:55px;
    line-height:55px;
    z-index:1;
    font-weight:700;
}
  .ll_what_need_title.mini_what_need .text-left p span {
  
    position:relative;
    z-index:1;
  }
  .ll_what_need_title.mini_what_need .text-left p span:after {
   position: absolute;
    content: '';
    top: 27px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;
  }
  .ll_adaptogens.newset_mimi {
    background: #F5F5F5;
    margin-top: 0;
    padding-bottom: 150px;
    margin-bottom:0px;
}
  .ll_adaptogens.newset_mimi .gtsTextpart p{
  font-weight:700;
    line-height: 115%;
  }
  .ll_adaptogens.newset_mimi .gtsTextpart p span {
  color:#000;
    position:relative;
  }
  .ll_adaptogens.newset_mimi .gtsTextpart p span:after{
   position: absolute;
    content: '';
    top: 27px;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    background: #ffc107;
    width: 100%;
    height: 35px;
    z-index: -1;
    right: 0;
  }
  #shopify-section-section-mini {overflow:hidden;}
  .ll_header.page_mini.text-white{position:relative;}
  
  @media only screen and (max-width:1024px){
  
  .header_taster.new_set_removable {
    font-size: 60px ;
    line-height: 59px ;   
}
 
    .row.my-5.flexsy {
    padding-bottom: 210px ;   
}
    .blackTagline_text {
 
    margin-top: 126px;   
    font-size: 40px;
   
}
    .ll_what_need_title.mini_what_need .text-left p {
    font-size: 39px;
    line-height: 41px;    
    font-weight: 800;
}
.positionimg.m_left {
    left: -117px;
    top: 59%;
    max-width: 370px;
}
.positionimg.m_right {
    right: -110px;
    top: 42%;
    max-width: 370px;
}
.positionimg.m_center {
    bottom: 0px;
    left: 27%;
    max-width: 450px;
}
 
    
    
   
  }
@media only screen and (max-width:840px){
  .row.logo_row {
    padding-bottom: 100px ;  
}    
  .header_taster.new_set_removable {
    font-size: 45px ;
    line-height: 45px ;
}
  .ll_protein_bar h2 span:after, .LandingMini .mini_title span:after {
   
    top: 18px;   
    height: 26px;
   
}
  .ll_protein_bar h2 {
    font-size: 40px;   
    line-height: 39px;
   
}
  .blackTagline_text {
    margin-top: 128px;
    font-size: 30px;
}
  .bgn_product_title {
    font-size: 32px;
    font-weight: 800;
   
}
  .ll_what_need_title.mini_what_need .text-left p {   
    text-align: center;
}
  .ll_what_need_title.mini_what_need .text-left p span:after {
    top: 20px;
    height: 28px;
    
}
  .ll_adaptogens.newset_mimi .gtsTextpart p span:after {
    height: 20px;
     top: 19px;
}
  .subscribe_title {
    font-size: 42px;   
    line-height: 42px;
}
  .subscribe_title span:after {
   top: 22px;
    height: 26px;
    
}
      
}
  #shopify-section-section-landing-applecrisp {overflow:hidden;}  
.rowProductbox.pr_banna.bottom_apples {padding-bottom:0px; margin-bottom:100px;}
  .rowProductbox.pr_banna.bottom_apples:before {z-index:999;}
  .rowProductbox.pr_banna.bottom_apples:after {
    background: #A9B85F ;
    content: '';
    width: 100%;
    min-height: 300px ;
    -webkit-transform: skew(0deg,-8deg);
    transform: skew(0deg,-8deg);
    bottom: -140px;
    position: absolute;
    
}
  .rowProductbox.pr_banna.bottom_apples .container {z-index:999; position:relative;}
  .col-md-12.offset-4.shopw_b {margin-left:0px;}
  .col-md-12.offset-4.shopw_b .btn_flovor {
  background-color: #ffc107;
color: #000000;
  }
  .col-md-12.offset-4.shopw_b .btn_flovor:hover {
  background-color: #fff;
color: #000000 ;
  }
  .bgn_product_desc.appleC {color:#fff;}  
  
  
@media only screen and (max-width:770px){
  .rowProductbox.pr_banna::before {   
    min-height: 200px ;  
}
  .rowProductbox.pr_banna img {margin-top:-50px;}
  .rowProductbox.pr_oat img {margin-top:-40px;}
  .rowProductbox.pr_banna.eggs img {
    margin-top: -125px;
}
  .rowProductbox.pr_banna.bottom_apples::after {
   
    bottom: -110px;
   
}
  .rowProductbox.pr_banna.bottom_apples {
   
    margin-bottom: 60px;
}
  .rowProductbox.pr_banna .row{margin-top:-40px;}
  .positionimg.m_center {
    bottom: 42px;
        left: 20%;
}
  .rowProductbox.pr_banna {
   
    padding-bottom: 170px;
}
  .rowProductbox.pr_oat {
   
    padding-bottom: 0px;
    margin-top: 0px;
}
  .rowProductbox.pr_oat::after {
   
    min-height: 250px ;   
    bottom: -105px;
 
}
  .rowProductbox.pr_oat::before {
   
    min-height: 223px ;   
    margin-top: -66px;
  }

 .ll_header.page_mini .col-6 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}
  .row.logo_row {
    padding-bottom: 60px ;
}
  .header_taster.new_set_removable span {
    display: inline-table;
}
  .ll_protein_bar.p-5.jntophome {
    margin-top: -82px;
}
  .ll_protein_bar h2 {
    font-size: 40px;
    line-height: 39px;
}
  .ll_protein_bar h2 span:after {
    top: 17px;
    height: 22px;
}
   .LandingMini .mini_title span:after {
    top: 25px;
    height: 22px;
}
 .blacTagLine .col-md-9.offset-md-3.gtsTextpart {
    width: 100%;
    margin-left: 0px;
    max-width: 100%;
}
   .rowProductbox.pr_salted::before {
   
    min-height: 222px ;  
    margin-top: -61px;
   
}
  .rowProductbox.pr_salted{margin-top:0px; padding-bottom: 0;}
  .rowProductbox.pr_salted::after {  
    bottom: -80px;
  
}

  .ingenpad {
    margin-top: 0;
}
  .ll_adaptogens.newset_mimi .container.gnathdnehodn {
      padding-bottom: 15px ;
  }
  .ll_videoan {
  	padding-bottom:25px;
    margin-top: 0px;
}
  .ll_videoan::before {    
    min-height: 200px ;   
    margin-top: -100px;
   }
  .ll_videoan::after {   
    min-height: 120px ; 
    bottom: -61px;   

}
  .ll_what_need_title {
    margin-top: 175px;
    
}
  .apple-crsip-callaction {
    
    margin-top: 60px;
   
}
  .blacTagLine::before {   
    margin-top: 70px;
   
}
  .blackTagline_text {
    margin-top: 100px;
   
}
 
  
.positionimg.m_left {
    left: -83px;
    top: 51%;
    max-width: 350px;
}
.positionimg.m_right {
    right: -106px;
    top: 36%;
    max-width: 350px;
}
.positionimg.m_center {
    bottom: 25px;
    left: 27%;
    max-width: 350px;
}
}
  
  
  
  
 
   @media only screen and (max-width:550px){ 
  .blacTagLine .container.gnathdnehodn {   
    padding: 0px ;
}
   } 
  
  @media only screen and (max-width:500px){
  .header_taster.new_set_removable {
    font-size: 40px ;
    line-height: 40px ;
    text-align: left;
    padding: 10px 30px;
}
    
     
.positionimg.m_left {
    left: -140px;
    top: 27%;
    max-width: 370px;
}
    
 .positionimg.m_right {
    right: -181px;
    top: 24%;
    max-width: 375px;
}
    .positionimg.m_center {
    bottom: 66px;
    left: 21%;
    max-width: 280px;
}
    
    
    
    .row.my-5.flexsy {
    padding-bottom: 140px ;
}
    .ll_header img.levelLogo {
   
    max-width: 150px ;
    padding-top: 15px ;
}
    .row.logo_row {
    padding-bottom: 50px ;
}
    .ll_protein_bar h2 {
    font-size: 28px;
    line-height: 28px;
}
   .LandingMini .mini_title span:after {
    top: 22px;
    height: 22px;
}
    .ll_protein_bar h2 span:after{
    top: 12px;
    height: 19px;
}
    .ll_protein_bar.p-5.jntophome {
    margin-top: -92px;
    padding: 0px ;
}
    .blackTagline_text {
    margin-top: 63px;
    font-size: 25px;
}
    .blacTagLine:before {
   
    min-height: 55px ;   
    margin-top: 50px;
   
}
    .rowProductbox.pr_banna:before {
   
    min-height: 155px ;  
    margin-top: -115px;
   
}
    .rowProductbox.pr_banna img {margin-top:-70px;}
    .rowProductbox.pr_oat img {margin-top:-198px;}
     .rowProductbox.pr_oat  {  padding-bottom: 230px;}
    .rowProductbox.pr_salted{  padding-bottom:0px;}
     .rowProductbox.pr_salted img {margin-top:-228px;}
  
    .rowProductbox.pr_oat:before {
    
    min-height: 250px ;   
    margin-top: -200px;
  
}
    .rowProductbox.pr_salted:before {
    
    min-height: 292px ;   
    margin-top: -243px;
   
}
    .subscriptionsarea {
   
    padding: 20px 0px 70px 0px;
}
    .innercircelwhite {
    width: 250px;
    height: 250px;
   
    margin: 0px auto;
      margin-bottom:30px;
}
    .ll_videoan::before {
    margin-top: -52px;
      min-height: 103px ;
}
    .ll_videoan {
    padding-bottom: 0px;
}
    .vIdeobox {
   
    padding-bottom: 0px ;
}
    .ll_videoan::after {
    min-height: 208px ;
    bottom: -35px;
}
    .ll_what_need_title.mini_what_need {
    margin-top: 110px;
   
}
    .ll_what_need_title.mini_what_need .text-left p {
    font-size: 32px;
    line-height: 33px;   
}
    .ll_what_need_title.mini_what_need .text-left p span:after {
    top: 14px;
    height: 22px;
}
    .ll_adaptogens.newset_mimi {
    padding-top: 105px;
    margin-bottom: 5px;
}
   .ll_adaptogens.newset_mimi .col-md-9.offset-md-3.gtsTextpart {
    width: 100%;
    margin-left: 0px;
    max-width: 100%;
    padding: 0px 20px;
}
 .ll_adaptogens.newset_mimi .gtsTextpart p {
  
    line-height: 30px;
    font-size: 30px;
}
    .ll_adaptogens.newset_mimi .gtsTextpart p span:after {
    height: 16px;
    top: 13px;
}
      .hero_button_add.btn.try-btn-calls {
    margin-top: 0;
    width: 260px;
    font-weight: 800 ;
    background: #FFC107 ;
    padding: 9px 10px;
}
    
    
.ll_protein_bar p {
  
    line-height: 14px;
    padding-top: 5px;
}    
    
    .rowProductbox.pr_banna {
    padding-bottom: 260px;
}
    .rowProductbox.pr_oat {
    padding-bottom: 0px;
}
    .rowProductbox.pr_oat::after {
    min-height: 250px ;
    bottom: -60px;
}
    .rowProductbox.pr_salted::after {
    bottom: -61px;
}
    
    
    .positionimg.m_left {
   left: -95px;
top: 49%;
    max-width: 300px;
}
.positionimg.m_right {
    right: -76px;
    top: 35%;
    max-width: 350px;
}
.positionimg.m_center {
   bottom: 63px;
left: 28%;
    max-width: 300px;
}
    
  }
  .tabproductBox_ img {max-width:500px;}
  
  #bf1 p.active {
    background: #FFC107 ;
    color: #000 ;
}
  @media only screen and (max-width:550px){
  .tabproductBox_ img {max-width:350px;}
  }
  
   @media only screen and (max-width:500px){
     .col-md-12.offset-4.shopw_b {
   
    text-align: center;
}
     .apple-crsip-callaction {
    padding: 25px 0px;
       min-height:220px;
}
     .apple-crsip-callaction::after {
   
    min-height: 192px ;   
    bottom: -12px;
   
}
     .rowProductbox.pr_banna.bottom_apples:after {
   
    min-height: 266px ;   
    bottom: -60px;
   
}
     .rowProductbox.pr_banna.bottom_apples {
  
    margin-bottom: 75px;
}
  .btn_order {
    text-align: left;
    padding-left: 32px;
    margin-top: -8px;
}
   }
   .ll_header .btn_order .check-me-out {border-radius:5px ;}
  @media only screen and (max-width:440px){
  .ll_header .btn.check-me-out {
   
    font-size: 18px ;   
    padding: 7px ;
}
  }
  
</style>


