{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}
    
{% section 'slideshow_collection_all' %}

<div id="CollectionAjaxResult" class="collection-content privatecoll">
  <div id="CollectionAjaxContent">
    <div class="page-width">
      
      <div class="grid">
        <div class="grid__item medium-up--one-fifth grid__item--sidebar">
          {% section 'collection-sidebar' %}
        </div>
        <div class="grid__item medium-up--four-fifths grid__item--content">
      {% section 'collection-new-template' %} 
        
         
        </div>
      </div>
    </div>
{% section 'collection-header-test' %}
  </div>
</div>
{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}