{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}{% section '3BF_header_note' %}
{% section '3BF_logo_sec' %}
{% section '3BF_slideshow' %}
{% section '3BF_now_sec' %}
{% section '3BF_steps' %}
{% section '3BF_section2' %}
{% section '3BF_tabs' %}

{% section '3BF_sectionfour' %}
{% section '3BF_tesimonials' %}
{% section '3BF_reviews' %}

<div class="grid">
  <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">
    {% comment %}
    <header class="section-header">
      <h1 class="section-header__title">{{ page.title }}</h1>
    </header>
    {% endcomment %}
    <div class="rte rte--nomargin">
      {{ page.content }}
    </div>

  </div>

</div>


{% section '3BF_callaction' %}
{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}

<style type="text/css">
  .textannounce {font-size:13px;}
</style>