{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}<div class="ingredient_page">
{% section 'lion_mane' %}
</div>
{% section 'lion_mane_articles' %}{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}