{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}<div class="page-width page-content">

  {% include 'breadcrumbs' %}
<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

{% comment %}

 <div class="meyers">
   <h2 class="one-me">meyers leonard </h2>
   <h2 class="two-me">= 17 level Boxes tall</h2>

  </div>

{% endcomment %}


 <div class="maicolor yello mrg">
   
    <p class="h3">
              
                  <span style="color: #000; font-size: 19px; line-height:1.25em;">
     HOW MANY BOXES TALL ARE YOU COMPARED TO MEYERS?</span></p>
</div>
<!--div class="maicolor  yello">
<p class="h3" style="color: ;">
              
                  <span style="color: #ffffff; -o-text-stroke: 2px black; -moz-text-stroke: 2px black; -webkit-text-stroke: 1.3px black; text-stroke: 1.3px black;">
      ENTER YOUR CURRENT HEIGHT</span></p>


</div-->
		<p class="enter-text">Enter your height Below</p>
		<h2 class="dec1" id="answer" style="display:none">ANSWER:</h2><h2 id="out" style="display:none"><strong id="total"></strong><b class="fate">BOXES</b></h2>
  
                            <div class="hero__link spts" id="anbt" style="display:  none;">
                            
                                <a href="https://levelfoods.com/collections/meyers-size" class="btn" style="color: #f7f7f7 ;  border: 2px solid #e00808 ;" tabindex="0">
                                 GET YOUR MEYERS-SIZED BOX
                                </a>
                              
                              
                            </div>
		<div class="height-img">
			<ul>
				<li id="imgicon17" class="one"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon16" class="two"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon15" class="three"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon14" class="four"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon13" class="five"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon12" class="six"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon11" class="seven"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon10" class="eight"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon9" class="nine"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon8" class="ten"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon7" class="one-one"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon6" class="one-two"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon5" class="one-three"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon4" class="one-four"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon3" class="one-five"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon2" class="one-six"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
				<li id="imgicon1" class="one-seven"><img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/t/34/assets/arrow.jpg?v=1585983321"></li>
			</ul>
		    <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/meyerssize17boxes_64e778fe-496b-4d73-a3dd-ba969a0d4427.png?v=1586102712">
		</div>
	<div class="grid">
    <div class="grid__item medium-up--three-quarters medium-up--push-one-eighth">

      <!---header class="section-header">
        <!--h1 class="section-header__title">{{ page.title }}</h1>
      </header-->

      <div class="rte rte--nomargin">
      
 
<body>
  <div class="measures"></div>
  <div class="measures">
  
<!--p>
    <label for="lname">Name:</label>
  <input type="text" id="Name" name="name"></p>
  <p><label for="lname">email:</label>
    <input type="email" id="email" name="fname"></p-->
<ul>
<li>
  <label>Feet</label>
  <input id="inputFeet" type="number" placeholder="Feet" oninput="LengthConverter(this.value)" onchange="LengthConverter(this.value)">
</li>
 
  <li>
  <label>Inches</label>
  <input id="inputFeet" type="number" placeholder="inch" oninput="inchConverter(this.value)" onchange="inchConverter(this.value)">
</li>
  </ul>
    
  <p class="button"><button  onclick="calculate()">CALCULATE </button></p>

     <p style="visibility:hidden; display:none;">cm: <span id="outputfeetcm"></span></p>
<p style="visibility:hidden;dispaly:none;">cm: <span id="outputinchcm"></span></p>
  
      </div>
  
</body>
       
      </div>

    </div>
  </div>
<div class=" messure data" id="opentab" style="display:none">
 <div class="downone"><h2> GET YOUR MEYERS SIZE BOX</h2></div>
                    <div class="slideshow_wrapper slide_an">
                      
                      <div class="slideshow_image_half">
                     <a href="https://levelfoods.com/products/mix-bars" tabindex="0"> <img class=" lazyloaded" src="//cdn.shopify.com/s/files/1/0248/8084/0813/files/variety_1_1400x.png?v=1585752081" alt=""></a>
                      </div>
                      
                      <div class="hero__text-content vertical-center horizontal-left" style="padding-left: 0px;">
                      <div class="hero_text-shadow">
                        
                        
                          <h2 class="h1 hero__title gtm" style="color: #000000;">
                            <div class="animation-cropper"><div class="animation-contents">
                            <span class="highlight shop_sect">MEYERS SIZE BOX<br>
                              </span><br><h6>17 boxes, 102 bars, $91 OFF</h6>
                              <span class="shop_sectpt">$249 <span class="line">$340</span></span>
                            </div></div>
                          </h2>
                        
                        
                          
                          
                            <div class="hero__link spts">
                              
                                <a href="https://levelfoods.com/collections/meyers-size" class="btn" style="color: #f7f7f7 ;  border: 2px solid #e00808 ;" tabindex="0">
                                  PICK YOUR FLAVOR COMBO
                                </a>
                              
                              
                            </div>
                          
                        
                      </div>
                    </div>
                      
                    
                  </div>
                  </div>
</div>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
   $(".enter-text").click(function() {
     console.log("heloo");
    $('html, body').animate({
        scrollTop: $(".measures").offset().top
    }, 2000);
});
          $(document).ready(function() {
         $('button').prop('disabled', true);
     $('input[type="number"]').keyup(function() {
        if($(this).val() != '') {
           $('button').prop('disabled', false);
        }
     });  
             }); 
          function blink_text() {
            
    $('#total').toggleClass("rest");
   
            $('.fate').toggleClass("minnor");
    //$('.fate').removeClass("minnor").delay( 6000 );
        
           
         
}
          
setInterval(blink_text,300);
        </script>
       
<script>

function LengthConverter(valNum) {
  document.getElementById("outputfeetcm").innerHTML=valNum*12*2.5;
}
  function inchConverter(valNum) {
  document.getElementById("outputinchcm").innerHTML=valNum*2.5;
}
   function totalConverter(valNum) {
     
    
}
  
  function calculate(){
   
     var feetcm =  document.getElementById("outputfeetcm").innerHTML;
    var inchcm =  document.getElementById("outputinchcm").innerHTML;
    
    var total = parseInt(feetcm) + parseInt(inchcm);
 
  	 document.getElementById("total").innerHTML=Math.round(total/12) ;
   document.getElementById("out").style.display = "block"; 
    document.getElementById("opentab").style.display = "block";
     document.getElementById("answer").style.display = "block";
	 document.getElementById("anbt").style.display = "block";
	 var totalbox = $("#total").text();
	 $(".height-img ul li").css("visibility","hidden");
	$("#imgicon"+totalbox).css("visibility","visible");
	setInterval(function()
	{
		 $("#imgicon"+totalbox).toggleClass("restku");
	},300);
	
    $('html, body').animate({
        scrollTop: $("#PageContainer").offset().top
    }, 1000);

  }
 
</script>
         <script>
        $(".button").click(function () {
    $(".enter-text").css("display", "none");
});
        </script>

<style>
.restku
{
	visibility:hidden;
}
  .hero_text-shadow h6 {
    font-size: 26px;
}
  .height-img {;
    padding-top: 36px;
}
.height-img ul {
    width: 2%;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 9px 0px 0px 0px;
}
.height-img ul li {
    padding: 0px;
    margin: 0px 0px 0px -11px;
    list-style: none;
    line-height: 43px;
    visibility: hidden;
    width: 43px;
}
.height-img img {
    vertical-align: top;
}
.height-img ul li.nine {
    line-height: 34px;
    position: relative;
    top: -16px;
}
.height-img ul li.one-one {
    line-height: 8px;
    position: relative;
    top: -6px;
}
.height-img ul li.one-two {
    position: relative;
    top: 8px;
}
.height-img ul li.one-four {
    position: relative;
    top: -31px;
}
.height-img ul li#imgicon5 {
    position: relative;
    top: -23px;
}
.height-img ul li.one-two {
    position: relative;
    top: -14px;
}
.height-img ul li.one-five {
    position: relative;
    top: -41px;
}
.height-img ul li.five {
    position: relative;
    top: -4px;
}
.height-img ul li.one-six {
    position: relative;
    top: -49px;
}
.height-img ul li.one-two {
    position: relative;
    top: -19px;
}
.height-img ul li.one-one {
    position: relative;
    top: -18px;
}
  div#anbt a {
    font-weight: 900 ;
}
.height-img ul li.ten {
    position: relative;
    top: -15px;
}
.height-img ul li.seven {
    position: relative;
    top: -7px;
}
.height-img ul li.six {
    position: relative;
    top: -5px;
}
.height-img ul li.eight {
    position: relative;
    top: -13px;
}
  div#anbt {
    display: block;
    text-align: center;
    margin-top: 15px;
}
.height-img ul li.one-seven {
    line-height: 0px;
    position: relative;
    top: -56px;
}
  .maicolor.yello.mrg {
    margin-top: 21px;
    text-align: center;
}
  .maicolor.yello {
    background: transparent;
}
  .maicolor.yello.mrg {
    margin-top: 21px;
}
.rest {
    color: #000 ;
    -webkit-text-stroke: 1px #fff ;
}
  .minnor {
    color: #000 ;
    -webkit-text-stroke: 1px #fff ;
}
p.enter-text {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
    font-size: 20px;
}
  .measures {
    padding-top: 10px;
}
.meyers h2 {
  
    font-size: 42px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background: #000;
    width: max-content;
    color: #fff;
    margin: 0px auto 5px;
    line-height: 41px;
    padding-left: 8px;
    padding-right: 10px;
}
  .height-img {
    display: block;
    margin: 0 auto;
    text-align: center;
}
  .measures ul {
    padding-left: 0 ;
    margin-left: 0;
    text-align: center;
}
  span.highlight {
    font-size: 47px;

}
  span.line {
    text-decoration: line-through;
    font-size: 44px;
}
.maicolor {
    background: linear-gradient(to bottom, #fcdf68 93%, transparent 30%);
    width: max-content;
    margin: 0 auto;
    padding: 0 14px;
    margin-bottom: 9px;
}
  strong#total {
    margin-right: 14px;
}
h2#out {
    margin-top: 0 ;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    -o-text-stroke: 2px black;
    -moz-text-stroke: 2px black;
    -webkit-text-stroke: 1px black;
    /* padding-top: 10px; */
    position: relative;
    font-size: 85px;
    font-weight: bold ;
    letter-spacing: 11px;
    width: max-content;
    margin: 0 auto;
    margin: 0 auto;
    background: linear-gradient(to top, #000000 64%, transparent 30%);
    line-height: 93.8px;
    padding: 0 6px 0 15px;
    text-align: center;
    display: block;
}
  p.h3 {
    font-size: 46px;
    text-transform: uppercase;
    line-height: 1em;
    margin-bottom: 15px;
    font-weight: 900 ;
        letter-spacing: 2px;
}
h2.dec1 {
    text-align: center;
    color: #ffffff;
    -o-text-stroke: 2px black;
    -moz-text-stroke: 2px black;
    -webkit-text-stroke: 1px black;
    /* padding-top: 10px; */
    position: relative;
    font-family: 'Montserrat', sans-serif;
    width: max-content;
    font-size: 42px;
    font-weight: 900 ;
    padding: 0 13px 0 14px;
    margin: 0 auto;
    line-height: 0.9;
    background: linear-gradient(to top , #000000 68%, transparent 30%);
    margin-bottom: 11px ;
}
  
  div#opentab .hero__text-content {
    width: 40%;
}
  div#opentab .slideshow_image_half {
    width: 55%;
        padding: 0 39px;

    height: auto;
}
  div#opentab {
 width:87%;
    margin: 0 auto;
}
.measures ul li input {
    width: 98%;
}
p.button button {
    /* color: #fff; */
    font-size: 25px; 
    color: #ffffff;
    -o-text-stroke: 2px black;
    -moz-text-stroke: 2px black;
    -webkit-text-stroke: 2px white;
    letter-spacing: 3px;
}
p.button {
    background: #000 ;
    color: #fff ;
    padding: 0 25px;
    width: max-content ;
    font-size: 20px;
    margin-top: 24px ;
    margin: 0 auto;
    text-align: center;
    display: block;
}
  b, strong {
    font-weight: 900 ;
}
  
.measures ul li {
    display: inline-block;
    width: 49% ;
}
.dec {
    text-align: center;
    color: #ffffff;
    -o-text-stroke: 2px black;
    -moz-text-stroke: 2px black;
    -webkit-text-stroke: 1px black;
    /* padding-top: 10px; */
    position: relative;
    text-shadow: 2px 2px 2px #000000;
    letter-spacing: 2px;
    font-family: Verdana, Arial, Helvetica, sans-serif ;
    font-size: 55px;
    margin: 0 auto;
    font-weight: 900 ;
}
  input#Name {
    width: 100%;
}
  input#email {
    width: 100%;
}
 
.downone h2  {
    text-align: center;
    font-size: 43px;
    color: #ffffff;
    -o-text-stroke: 2px black;
    -moz-text-stroke: 2px black;
    -webkit-text-stroke: 1.3px black;
    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 14px;
}
  .downone  {
    text-align: center;
    background: linear-gradient(to bottom, #e00808 100%, transparent 30%);
    width: max-content ;

    text-align: center;
    display: block;
    margin: 0 auto;
    padding: 0 14px;
}

  
@media screen and (max-width: 1368px) {
      .downone {
    background: linear-gradient(to bottom, #e00808 100%, transparent 30%);
    width: 100% ;
  
}
}
  @media screen and (max-width: 900px) {
 .maicolor {
    background: linear-gradient(to bottom, #fcdf68 100%, transparent 30%);
    width: 100%;
   text-align: center;
}
    .downone {
    background: linear-gradient(to bottom, #e00808 100%, transparent 30%);
    width: 100% ;
  
}
    h2#out {
    width: 68%;

}
  div#opentab .slideshow_image_half {
    width: 100%;
    padding: 1%;
    height: auto;
}  
    div#opentab .hero__text-content {
    width: 100%;
}
}
 @media screen and (max-width: 1024px) {
.height-img ul {
    width: 2%;
    display: inline-block;
    vertical-align: text-bottom;
    margin: 9px 0px 0px 0px;
}
.height-img ul li {
    margin: 0px 0px 0px -17px;
}
}
 @media screen and (max-width: 812px) {
.height-img ul {
    width: 3%;
}
}
  @media screen and (max-width: 480px) {
  strong#total {
    margin-right: 14px;
   display: inline;
}
    .height-img {
    text-align:center;
    width: 100%;
}
    p.enter-text {
    font-size: 15px;
}
    .meyers h2 {
    font-size: 21px;
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
    background: #000;
    width: 74%;
    color: #fff;
    margin: 0px auto 5px;
    line-height: 28px;
    padding-left: 8px;
    padding-right: 10px;
}
    p.h3 {
    font-size: 23px;
  
}
    h2#out {

    padding: 0 9px;
}

    h2#out {

    font-size: 46px ;
      line-height:1.1;
      width:86%;
    background: linear-gradient(to top, #000000 60%, transparent 30%);
 
}
    .maicolor:nth-child(2) {
    padding: 0 ;
}
    .maicolor:nth-child(2) .h3 {
    font-size: 31px;
    line-height: 36px;
    margin-bottom: 0px;
}
    h2.dec1{
    font-size:30px;
    }
    .maicolor:nth-child(2) .h3 {
    font-size: 28px;
    line-height: 31px;
    margin-bottom: 0px;
}
    
.downone h2 {
    line-height: 28px;
    padding-top: 12px;
    padding-left: 0;
    padding-bottom: 12px;
    padding-right: 0;
}
 .downone h2{
 font-size: 26px ;
  
}
     div#opentab {
   width: 100%;
    margin: 0 auto;
}  

  }
  @media screen and (max-width: 414px) {
  .height-img ul {
    width: 6%;
}
  p.h3 {
    font-size: 18px;
    line-height: 27px;
}
    .maicolor.yello.mrg {
    padding: 0px;
}
}
  @media screen and (max-width: 375px) {
  .maicolor:nth-child(2) .h3 {
    font-size: 35px;
    line-height: 41px;
    margin-bottom: 0px;
}
.meyers h2.two-me {
    width: 84%;
}
.meyers h2.one-me {
    width: 66%;
}
}
  @media screen and (max-width: 375px) {
  h2#out {font-size: 40px ;line-height: 1.3;}
  }
  @media screen and (max-width: 320px) {
  .meyers h2.one-me {
    width: 76%;
}
.maicolor:nth-child(2) .h3 {
    font-size: 33px;
    line-height: 37px;
    margin-bottom: 0px;
}
.meyers h2.two-me {
    width: 95%;
}
    h2#out{
    font-size:30px ;
      line-height:1.5;
    
    }
  }
  
  @media screen and (max-width: 320px) {
  .height-img ul {
    width: 9%;
    margin: 7px 0px 0px 0px;
}
.height-img ul li.nine {
    top: -10px;
}
.height-img ul li.ten {
    top: -5px;
}


  
  }
</style>
{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}