{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}<!-- <div class="shopify-section index-section" style="margin-bottom: 0;">

      <header class="section-header">
        <h1 class="section-header__title">{{ page.title }}</h1>
      </header>
    </div> -->
{% section 'benifits_icons' %}
{% section 'library' %}
{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}