{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}<div class="narrow_text_wrapper">
{% section 'about_right_image' %}
<!--{% section 'about_just_text' %}-->
{% section 'about_left_image' %}
</div>
{% section 'team' %}

{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}