{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}

<div class="deals_page">
  <div class="deals_bab_v2">
      <h2>THE DEALS</h2>
      <p class="centered_mobile">This is just to show the order not for design or messaging purposes.</p>
      <img class="apple_img" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/apple2_2x_30614d52-5fdf-4634-b6c9-964d890ec0c9.png?v=1604582656">
      <div class="deals_container">
        <div class="deals_outer">
          <div class="grid deals_bab_bab">
              <div class="grid__item small--one-whole medium--one-whole large-up--one-whole">
                  <h4>Buy your favorite $18 bars, get a 5$ GC Free</h4>
                  <a class="btn" href="/products/mini-build-a-box">BUILD YOUR BOX</a>
              </div>
          </div>
          <p class="centered_mobile">Only 5 Remaining</p>
        </div>
        <div class="deals_outer">
          <div class="grid deals_bab_minis">
              <div class="grid__item small--one-whole medium--one-whole large-up--one-whole">
                  <h4>Buy your favorite $18 bars, get a 5$ GC Free</h4>
                  <a class="btn" href="/collections/minis">SHOP MINI PROTEIN BARS</a>
              </div>
          </div>
          <p class="centered_mobile">Only 3 Remaining</p>
        </div>
        <div class="deals_outer">
          <div class="grid deals_bab_bars">
              <div class="grid__item small--one-whole medium--one-whole large-up--one-whole">
                  <h4>Buy your favorite $18 bars, get a 5$ GC Free</h4>
                  <a class="btn" href="/collections/level-bars">SHOP PROTEIN BARS</a>
              </div>
          </div>
          <p class="centered_mobile">Only 8 Remaining</p>
        </div>
      </div>
      <img class="banana_img" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Group_9_2x_aa8b1500-bfea-458b-afd1-3065e26cfb89.png?v=1604582656">
  </div>
  <div class="deals_shipping_v2">
      <div class="deals_container">
        <div class="grid">
            <div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Group_24_2x_2.png?v=1604316077">
              <h6>Free <br> Shipping</h6>
              <p>On any order over $55.</p>
            </div>
           	<div class="grid__item small--one-half medium--one-quarter large-up--one-quarter">
              <img src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/guarantee_2x_6b7f1c1f-96de-41de-bff3-64f5a98d2e5c.png?v=1604315322">
              <h6>Satisfaction <br> Guaranteed</h6>
              <p>Don't love them? Return them.</p>
            </div>
        </div>
      </div>
      <img class="brownie_image" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/brownies_2x_e79ec6b2-a548-44d7-a069-98c3c6e38368.png?v=1604583563">
  </div>
  <div class="deals_countdown">
     <h2>OFFER ENDS IN</h2>
  	 <p id="countdown-timer1"></p>
  </div>
  <div class="deals_product_desc">
    <h2>Product Description Section</h2>
    {% section 'product_deals_nfp' %}
  </div>
  <div class="deals_bab_v2">
      <h2>FINAL OFFER</h2>
      <img class="apple_img" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/apple2_2x_30614d52-5fdf-4634-b6c9-964d890ec0c9.png?v=1604582656">
      <div class="deals_container">
        <div class="grid deals_bab_bab">
            <div class="grid__item small--one-whole medium--one-whole large-up--one-whole">
              	<h4>Buy your favorite $18 bars, get a 5$ GC Free</h4>
                <a class="btn" href="/products/mini-build-a-box">BUILD YOUR BOX</a>
            </div>
        </div>
      </div>
      <img class="banana_img" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Group_9_2x_aa8b1500-bfea-458b-afd1-3065e26cfb89.png?v=1604582656">
  </div>
  <div class="deals_countdown">
     <h2>OFFER ENDS SOON</h2>
  	 <p id="countdown-timer2"></p>
  </div>
  <div class="deals_testimonials">
    <div class="deals_container">
      <h2>REVIEWS</h2>
      <p class="centered_mobile">Over 500+ Reviews!</p>
      {% section 'mini_bab_v2_testimonials' %}
    </div>
    <img class="deals_testimonials_oat" src="https://cdn.shopify.com/s/files/1/0248/8084/0813/files/oath_2x_cf95d4cc-560d-4417-a880-35b4b82b2e2d.png?v=1604595214">
  </div>
  <div class="deals_footer">
    <p>© 2020 LEVEL | <a href="https://level-foods.myshopify.com/pages/privacy-policy">Privacy Policy</a> | <a href="https://level-foods.myshopify.com/pages/terms-and-conditions">Terms and<br>Conditions</a> | <a href="https://levelfoods.com/pages/privacy-policy#doNotsell">Do Not Sell My Data</a> </p>
  </div>
</div>

<style>
  /** GENERAL CSS **/
  
  p#countdown-timer1 {
    margin-bottom: 50px;
  } 
  
  p#countdown-timer1, p#countdown-timer2 {
    background: #000;
    max-width: 300px;
    margin: 0 auto 15px;
    color: #fff;
    font-family: proxima-nova-condensed, sans-serif ;
    font-weight: 900;
    font-size: 40px;
    line-height: 1;
    padding: 10px;
    text-align: center;
  }
  
  .centered_mobile {
    text-align: center; 
  }
  
  div#yoHolder {
    display: none ;
  }
  
  body > div:nth-last-child(3) {
  	display: none;
  }
  
  div#shopify-section-header {
    display: none;
  }
  
  div#shopify-section-footer {
    display: none;
  }
  
  div#sticky_button {
      display: block;
      opacity: 0;
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      background: #fff;
      z-index: 9999999;
      -webkit-box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.08); 
	  box-shadow: 0px 0px 12px 4px rgba(0,0,0,0.08);
      transition: all 0.3s ease-out;
  }
  
  div#sticky_button a.btn {
      font-size: 14px ;
      font-weight: 400 ;
      padding: 15px 25px;
      margin-top: 15px ;
      margin-bottom: 15px ;
      max-width: 220px;
  }
  
  .main-content {
    padding-top: 0;
    overflow: hidden;
  }
  
  .deals_container {
  	max-width: 1024px;  
    margin: auto;
  }
  
  .deals_page h1, .deals_page .h1, .deals_page h2, .deals_page .h2, .deals_page h3, .deals_page .h3, .deals_page h4, .deals_page .h4, .deals_page h5, .deals_page .h5, .deals_page h6, .deals_page .h6 {
    font-family: proxima-nova-condensed, sans-serif ;
  }
  
  .deals_page h2, .deals_page .h2 {
    font-size: 25px;
    line-height: 1.25;
    text-align: center;
  }

  .deals_page p, .deals_page a, .deals_page li {
    font-family: "proxima-nova" ;
  }
  
  .deals_page > div {
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .deals_page a {
    display: block;
    max-width: 300px;
    letter-spacing: 0 ;
    margin: 10px auto;
    border-radius: 50px;
    font-size: 18px ;
  }
  
  /** BANNER **/
  
  .deals_banner_v2 {
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_header_bg_mobile.jpg?v=1604584234);
    background-size: cover;
    background-position: center;
    height: 540px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 0 ;
    padding-right: 0 ;
    display: flex;
  }
  
  .deals_banner_v2 .deals_container {
    max-width: 100%;
    margin: 0 auto;
  }
  
  .deals_banner_v2 .banner_logo_heading {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  .deals_banner_v2 .banner_text_button {
   	width: 100%; 
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 9999;
  }
  
  .deals_banner_v2 img {
    max-width: 100px;
    margin: auto;
    display: block;
   }
  
  .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 35px;
      text-align: center;
      line-height: 1;
      width: 100%;
      margin-top: 35px;
      margin-bottom: 10px;
      margin-left: auto;
      margin-right: 0;
      text-shadow: 3px 3px 0px rgba(150, 150, 150, 0.5);
  }
  
  .deals_banner_v2 p {
    font-size: 20px;
    line-height: 22px;
    font-weight: 900;
    text-align: center;
  }
  
  .deals_banner_v2 a.btn {
    font-size: 14px ;
    font-weight: 400 ;
    padding: 18px 25px;
    max-width: 210px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .deals_banner_v2 img.banner_main_img {
    width: 92%;
    max-width: 100%;
    height: 450px;
    object-fit: contain;
    object-position: right;
    margin-top: -110px;
    margin-bottom: -80px;
    margin-right: 0;
    position: relative;
  }
  
  .deals_outer h4 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 1;
}
  
  /** BENEFITS **/
  
  .deals_benefits_v2 {
    padding-top: 60px;
    padding-bottom: 50px;
  }
  
  .deals_benefits_v2 .benefits_v2_container {
    display: flex;
    flex-wrap: wrap;
    max-width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
    width: 100%;
    display: flex;
    margin-bottom: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body:last-child {
   	margin-bottom: 0; 
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
    width: 80px;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content {
    width: 100%;
    max-width: 220px;
    margin: 15px auto 0;
    text-align: center;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content h6 {
    font-family: "proxima-nova" ;
    font-weight: 700;
    letter-spacing: normal;
    text-transform: none;
    font-size: 15px;
  }
  
  .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content p {
    font-family: "proxima-nova" ;
    font-weight: 400;
    letter-spacing: normal;
    text-transform: none;
    font-size: 15px;
    line-height: 20px;
  }
 
  /** NUTRITION **/
  
  .deals_nutrition {
    background: #fcf8f5;
    padding-top: 50px;
    padding-bottom: 50px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/NEXT-LEVEL-NUTRITION.jpg?v=1604580713);
    background-size: contain;
    background-position: 0px -15px;
    background-repeat: no-repeat;
  }
  
  .desktop_nutrition_image {
   	display: none; 
  }
  
  .deals_nutrition h2 {
    margin-bottom: 25px;
  }
  
  .deals_nutrition .grid .grid__item:first-child {
    width: 40%;
  }
  
  .deals_nutrition .grid .grid__item:nth-child(2) {
    padding-left: 15px;
    padding-right: 20px;
    width: 60%;
  }
  
  .deals_nutrition .grid .grid__item:nth-child(2) > div {
    margin-bottom: 45px;
  }
  
  .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
    margin-bottom: 25px;
  }
  
  .deals_nutrition .grid .grid__item .second_nutrition {
    padding-left: 0;
  }
  
  .deals_nutrition h3 {
    font-size: 16px;
    line-height: 1.25;
  }
  
  .deals_nutrition .grid .grid__item .second_nutrition ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .deals_nutrition li, .deals_nutrition p {
    font-size: 15px;
    font-weight: 700;
    color: #888;
    line-height: 20px;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    max-width: 150px;
  }
  
  .deals_nutrition li img {
    max-width: 14px;
    margin-right: 5px;
  }
  
  .deals_nutrition a.btn {
    font-size: 14px ;
    font-weight: 400 ;
    padding: 18px 25px;
    max-width: 210px;
    margin-top: 25px;
  }
  
  /** TESTIMONIALS **/
  
  .deals_page .deals_testimonials, .deals_page .deals_testimonials .page-width {
   	padding-left: 0;
    padding-right: 0;
  }
  
  .deals_testimonials {
    padding-top: 50px;
    padding-bottom: 25px;
    position: relative;
  }
  
  .testimonial-carousel {
    width: 140%;
    margin-top: 50px;
    position: relative;
    z-index: 10;
  }
  
  .deals_testimonials img.deals_testimonials_oat {
    position: absolute;
    width: 175px;
    right: -20px;
    bottom: 0;
    z-index: 5;
  }
  
  .testimonial-carousel .carousel-cell {
    padding-left: 20px;
    position: relative;
  }
  
  .testimonial-carousel .carousel-cell img.testimonial-quotation {
    position: absolute;
    right: 5px;
    top: 60px;
    width: 60px;
  }
  
  .testimonial-carousel .carousel-cell img.testimonial-image {
    height: 250px;
    width: 160px;
    object-fit: cover;
    opacity: 0.50;
    transition: all 0.25s ease-out;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-contents {
    margin-top: -120px;
    right: -70px;
    background-color: #fff ;
    position: relative;
    max-width: 160px;
    padding: 15px;
    opacity: 0;
    transition: all 0.25s ease-out;
  }
  
  .testimonial-carousel .carousel-cell.slick-current .testimonial-contents {
	opacity: 1;
  }
  
  .testimonial-carousel .carousel-cell.slick-current img.testimonial-image {
    opacity: 1;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-name h4 {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-job h5 {
    font-family: "proxima-nova" ;
    font-weight: 700;
    font-size: 13px;
    line-height: 1.2;
    color: #000;
    text-transform: uppercase;
  }
  
  .testimonial-carousel .carousel-cell .testimonial-comment p {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.25;
    margin-top: 20px;
  }
  
  /** SEEN **/
  
  .deals_seen {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #232323;
  }
  
  .deals_seen h2 {
   	color: #fff; 
  }
  
  .deals_seen .grid .grid__item {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
  
  .deals_seen .grid .grid__item .seen_body {
    width: 48%;
    border: 1px solid #444;
    min-height: 50px;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .deals_seen .grid .grid__item .seen_body:last-child img {
    width: 70%;
  }
  .deals_seen .grid .grid__item .seen_body:nth-child(3) img {
      width: 70%;
  }
  .deals_seen .grid .grid__item .seen_body:nth-child(2) img {
      width: 50%;
  }
  .deals_seen .grid .grid__item .seen_body:first-child img {
      width: 50%;
  }
  
  /** PRODUCT IMAGES **/
  
  .deals_bab_v2 {
    padding-top: 75px;
    padding-bottom: 45px;
    position: relative;
    overflow: hidden;
  }
  
  .deals_bab_v2 img.apple_img {
    position: absolute;
    top: -10px;
    width: 185px;
    right: -50px;
  }
  
  .deals_bab_v2 img.banana_img {
    position: absolute;
    bottom: -15px;
    left: -80px;
    width: 185px;
  }
  
  .deals_bab_v2 a.btn {
    font-size: 14px ;
    font-weight: 400 ;
    padding: 18px 25px;
    max-width: 220px;
    margin-bottom: 50px;
  }
  
  .deals_outer h4, .grid.deals_bab_bars h4 {
    text-align: center;
    font-size: 35px;
    font-weight: 900;
    line-height: 1;
    margin-bottom: 15px;
  }
  
  .deals_bab_v2 .grid.deals_bab_bab {
    min-height: 450px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/mini_2x_8fb6d0c2-3f62-4693-87bf-047e0d6ae0f1.png?v=1604582227);
    background-size: 330px;
    background-repeat: no-repeat;
    background-position: center 50px;
    background-color: #FCF8F5;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .deals_bab_v2 .grid.deals_bab_minis {
    min-height: 450px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/4_2x_74d417b2-79f6-440c-9e96-4a0ca7da080d.png?v=1604582227);
    background-size: 180px;
    background-repeat: no-repeat;
    background-position: center 20px;
    background-color: #EDEDED;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .deals_bab_v2 .grid.deals_bab_bars {
    min-height: 450px;
    background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/salted_brownie_1_1_1_2a7e6e8f-0e1d-4633-905b-926d75e22f4a.png?v=1604585948);
    background-size: 110px;
    background-repeat: no-repeat;
    background-position: center 30px;
    background-color: #FCF8F5;
    display: flex;
    align-items: flex-end;
    margin-bottom: 10px;
  }
  
  .deals_bab_v2 .deals_outer p {
   	margin-bottom: 30px; 
  }
  
  /** SHIPPING **/
  
  .deals_shipping_v2 {
    padding-top: 0;
    padding-bottom: 50px;
    position: relative;
  }
  
  .deals_shipping_v2 .grid {
    max-width: 90%;
    margin: auto ;
  }
  
  .deals_shipping_v2 .grid .grid__item {
    padding: 0 10px;
  }
  
  .deals_shipping_v2 .grid img {
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: 20px auto 10px;
    display: block;
  }
  
  .deals_shipping_v2 h6 {
    font-size: 15px;
    font-family: "proxima-nova" ;
    line-height: 20px;
    font-weight: 700;
    text-transform: none;
    letter-spacing: normal;
    text-align: center;
  }
  
  .deals_shipping_v2 p {
    font-size: 15px;
    font-family: "proxima-nova" ;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: normal;
    text-align: center;
  }
  
  .deals_shipping_v2 img.brownie_image {
    position: absolute;
    width: 165px;
    bottom: -76px;
    right: -75px;
  }
  
  /** FOOTER **/
  
  .deals_footer {
    background: #000;
    color: #fff;
    padding: 15px;
    margin-bottom: 81px;
    text-align: center;
  }
  
  .deals_footer p {
    font-size: 15px;
    font-family: "proxima-nova" ;
    margin-bottom: 0;
    line-height: 17.5px;
  }
  
  .deals_footer p a {
    display: inline;
    color: #f0e5d3 ;
    font-weight: 700;
    font-size: 14px ;
  }
  
  /** DEALS NFP SLIDER **/
  
  .deals_page .deals_product_desc {
    background: #f0e5d3;
    padding: 75px 0;
  }
  
  
  @media only screen and (min-width: 1101px) {
    
    /** GENERAL CSS **/
    
    div#sticky_button {
      display: none ;
    }
    
    .deals_page h2, .deals_page .h2 {
      font-size: 50px;
      font-weight: 900;
      line-height: 1;
    }

	/** BANNER **/
    
    .deals_banner_v2 {
      background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_header_mobile.png?v=1604584238);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      min-height: 75vh;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
    }
    
    .deals_banner_v2 img {
      max-width: 200px;
      margin: auto;
      display: block;
    }
    
    .deals_banner_v2 img.banner_main_img { 
		display: none;
    }
    
    .deals_banner_v2 .deals_container {
      max-width: 50%;
      width: 50%;
      margin: 0 auto 0 0;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 50px;
    }
    
    .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 80px;
      text-align: center;
      line-height: 1;
      width: 100%;
      margin-top: 45px;
      margin-bottom: 40px;
      margin-left: auto;
      margin-right: auto;
      max-width: 480px;
      text-shadow: 3px 3px 0px rgba(150, 150, 150, 0.5);
    }
    
    .deals_banner_v2 h1 br:nth-child(2) {
     	 display: none
    }
    
    .deals_banner_v2 p {
      font-size: 30px;
      line-height: 1;
      font-weight: 900;
      text-align: center;
    }
    
    .deals_banner_v2 a.btn {
      font-size: 20px ;
      font-weight: 400 ;
      padding: 18px 25px;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }
    
    /** NUTRITION **/
    
    .deals_nutrition {
		background-image: none;
    }

	.deals_nutrition .desktop_nutrition_image {
      display: block;
      max-height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 25px;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) {
      padding-left: 10px;
      margin-left: 0;
      padding-right: 111px;
    }
    
    .deals_nutrition h3 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 0;
  	}
    
    .deals_nutrition li, .deals_nutrition p {
      font-size: 18px;
      max-width: 100%;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div {
      margin-bottom: 50px;
  	}
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
      margin-bottom: 0;
  	}

	/** BENEFITS **/
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
      width: 33.333%;
      display: flex;
      margin-bottom: 0;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      padding: 0 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-bottom: 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content {
      width: 100%;
      text-align: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content p {
      margin-bottom: 0;
  	}
    
    .deals_nutrition a.btn {
      margin-top: 50px;
    }

	/** TESTIMONIALS **/
    
    .testimonial-carousel {
    	width: 100%;
    }
    
    .testimonial-carousel .carousel-cell img.testimonial-image {
      height: 275px;
      width: 75%;
      object-fit: cover;
      object-position: top;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-contents {
      margin-top: -80px;
      margin-right: 0;
      right: 0;
      margin-left: auto;
      background-color: #fff ;
      position: relative;
      max-width: 250px;
      padding: 15px;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-comment p {
    	font-size: 20px;
    }
    
    .deals_testimonials img.deals_testimonials_oat {
      position: absolute;
      width: 255px;
      right: -5vw;
      bottom: -3vw;
      z-index: 5;
    }

	/** SEEN **/
    
    .deals_seen {
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
    
    .deals_seen h2 {
      margin-bottom: 30px;
    }
    
    .deals_seen .grid .grid__item .seen_body {
      width: 24%;
      border: 1px solid #444;
      min-height: 70px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /** MB PRODUCTS **/
    
    .deals_bab_v2 {
      padding-top: 75px;
    }
    
    .deals_bab_v2 .deals_container {
      display: flex;
      justify-content: space-between;
    }
    
    .deals_bab_v2 .grid.deals_bab_bab {
      width: 32%;
    }
    
    .deals_bab_v2 .grid.deals_bab_minis {
      width: 32%;
  	}
    
    .deals_bab_v2 .grid.deals_bab_bars {
      width: 32%;
  	}
    
    .deals_bab_v2 img.apple_img {
      top: -10px;
      width: 235px;
      right: 0;
    }
    
    .deals_bab_v2 img.banana_img {
      bottom: -15px;
      left: 0;
      width: 235px;
    }

	/** SHIPPING **/
    
    .deals_shipping_v2 {
    	padding-bottom: 20px;
    }
    
    .deals_shipping ul {
        max-width: 420px;
    }
    
    .deals_shipping ul li {
    	font-size: 25px;
    }
    
    /** FOOTER **/
    
    .deals_footer {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .deals_footer br {
      display: none;
    }
    
    .deals_shipping_v2 img.brownie_image {
      position: absolute;
      width: 225px;
      bottom: -106px;
      right: -75px;
    }
    
  }
  
@media only screen and (min-width: 901px) and (max-width: 1100px){
  
  /** GENERAL CSS **/
    
    div#sticky_button {
      display: none ;
    }
    
    .deals_page h2, .deals_page .h2 {
      font-size: 50px;
      font-weight: 900;
      line-height: 1;
    }

	/** BANNER **/
    
    .deals_banner_v2 {
      background-image: url(https://cdn.shopify.com/s/files/1/0248/8084/0813/files/Level_header_mobile.png?v=1604584238);
      background-size: contain;
      background-position: right;
      background-repeat: no-repeat;
      min-height: 600px;
      padding-top: 25px;
      padding-bottom: 25px;
      display: flex;
    }
    
    .deals_banner_v2 img {
      max-width: 200px;
      margin: auto;
      display: block;
    }
    
    .deals_banner_v2 img.banner_main_img { 
		display: none;
    }
    
    .deals_banner_v2 .deals_container {
      max-width: 50%;
      width: 50%;
      margin: 0 auto 0 0;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      padding-left: 50px;
    }
    
    .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 60px;
      text-align: center;
      line-height: 1;
      max-width: 330px;
      width: 100%;
      margin-top: 25px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
      text-shadow: 3px 3px 0px rgba(150, 150, 150, 0.5);
    }
    
    .deals_banner_v2 h1 br:nth-child(2) {
     	 display: none
    }
    
    .deals_banner_v2 p {
      font-size: 30px;
      line-height: 1;
      font-weight: 900;
      text-align: center;
    }
    
    .deals_banner_v2 a.btn {
      font-size: 20px ;
      font-weight: 400 ;
      padding: 18px 25px;
      max-width: 280px;
      margin-left: auto;
      margin-right: auto;
      margin-top: 30px;
    }
    
    /** NUTRITION **/
    
    .deals_nutrition {
		background-image: none;
    }

	.deals_nutrition .desktop_nutrition_image {
      display: block;
      max-height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 25px;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) {
      padding-left: 10px;
      margin-left: 0;
      padding-right: 111px;
    }
    
    .deals_nutrition h3 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 0;
  	}
    
    .deals_nutrition li, .deals_nutrition p {
      font-size: 18px;
      max-width: 100%;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div {
      margin-bottom: 50px;
  	}
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
      margin-bottom: 0;
  	}

	/** BENEFITS **/
  
    .deals_benefits_v2 .grid .grid__item {
      width: 100%;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
      width: 33.333%;
      display: flex;
      margin-bottom: 0;
      justify-content: center;
      align-content: center;
      flex-wrap: wrap;
      padding: 0 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
      margin-bottom: 20px;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content {
      width: 100%;
      text-align: center;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_content p {
      margin-bottom: 0;
  	}
    
    .deals_nutrition a.btn {
      margin-top: 50px;
    }
  
  	/** TESTIMONIALS **/
    
    .deals_testimonials {
      padding-top: 75px;
      padding-bottom: 75px;
      position: relative;
    }
    
    .testimonial-carousel {
    	width: 100%;
    }
    
    .testimonial-carousel .carousel-cell img.testimonial-image {
      height: 275px;
      width: 75%;
      object-fit: cover;
      object-position: top;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-contents {
      margin-top: -80px;
      margin-right: 20px;
      right: 0;
      margin-left: auto;
      background-color: #fff ;
      position: relative;
      max-width: 250px;
      padding: 15px;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .deals_testimonials img.deals_testimonials_oat {
      position: absolute;
      width: 255px;
      right: -5vw;
      bottom: -3vw;
      z-index: 5;
    }
    
     .testimonial-carousel .carousel-cell img.testimonial-quotation {
      position: absolute;
      right: 15px;
      top: 80px;
      width: 60px;
    }

	/** SEEN **/
    
    .deals_seen {
    	padding-top: 50px;
    	padding-bottom: 50px;
    }
    
    .deals_seen h2 {
      margin-bottom: 30px;
    }
    
    .deals_seen .grid .grid__item .seen_body {
      width: 24%;
      border: 1px solid #444;
      min-height: 70px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /** MB PRODUCTS **/
    
    .deals_bab_v2 {
      padding-top: 75px;
    }
    
    .deals_bab_v2 .deals_container {
      display: flex;
      justify-content: space-between;
    }
    
    .deals_bab_v2 .grid.deals_bab_bab {
      width: 32%;
    }
    
    .deals_bab_v2 .grid.deals_bab_minis {
      width: 32%;
  	}
    
    .deals_bab_v2 .grid.deals_bab_bars {
      width: 32%;
  	}
    
    .deals_bab_v2 img.apple_img {
      top: -30px;
      width: 205px;
      right: -40px;
    }
    
    .deals_bab_v2 img.banana_img {
      bottom: -20px;
      left: -50px;
      width: 205px;
    }
  
	/** SHIPPING **/
    
    .deals_shipping_v2 {
    	padding-bottom: 40px;
    }
    
    .deals_shipping ul {
        max-width: 420px;
    }
    
    .deals_shipping ul li {
    	font-size: 25px;
    }
    
    /** FOOTER **/
    
    .deals_footer {
      margin-bottom: 0;
      padding-top: 20px;
      padding-bottom: 20px;
    }
    
    .deals_footer br {
      display: none;
    }
    
    .deals_shipping_v2 img.brownie_image {
      position: absolute;
      width: 195px;
      bottom: -106px;
      right: -75px;
    }

}
  
@media only screen and (min-width: 768px) and (max-width: 900px){
    
    /** GENERAL **/
    
    .deals_page h2, .deals_page .h2 {
      font-size: 40px;
      line-height: 1;
      font-weight: 900;
    }
    
    /** BANNER **/
    
    .deals_banner_v2 {
      height: 450px;
    }
  
  	.deals_banner_v2 p {
      text-align: left;
    }
  
    .deals_banner_v2 a.btn {
      margin-left: 0;
      margin-right: auto;
    }
    
    .deals_banner_v2 .deals_container {
      max-width: 100%;
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      align-content: center;
      position: relative;
    }
    
    .deals_banner_v2 img {
      max-width: 150px;
      margin: 0 auto 0 0;
      display: block;
    }
    
    .deals_banner_v2 h1 {
      font-weight: 900;
      font-size: 60px;
      max-width: 350px;
      text-align: left;
      line-height: 1;
      width: 100%;
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 0;
      margin-right: auto;
      text-shadow: 3px 3px 0px rgba(150, 150, 150, 0.5);
    }
    
    .deals_banner_v2 img.banner_main_img {
      width: 92%;
      max-width: 100%;
      height: 500px;
      object-fit: contain;
      object-position: right;
      right: -20px;
      top: -20px;
      bottom: 0px;
      margin-top: 0;
      margin-bottom: 0;
      margin-right: 0;
      position: absolute;
    }
    
    /** BENEFITS **/
    
    .deals_benefits_v2 .benefits_v2_container {
      align-items: flex-start;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body {
      width: 32%;
      display: flex;
      margin-bottom: 0;
      justify-content: space-between;
      flex-wrap: wrap;
    }
    
    .deals_benefits_v2 .benefits_v2_container .benefits_v2_body .benefits_v2_logo img {
      width: 80px;
      height: 80px;
      object-fit: contain;
    }
    
    /** NUTRITION **/
    
    .deals_nutrition {
		background-image: none;
    }

	.deals_nutrition .desktop_nutrition_image {
      display: block;
      max-height: 300px;
      margin-right: 0;
      margin-left: auto;
      margin-top: 25px;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) {
      padding-left: 10px;
      margin-left: 0;
      padding-right: 111px;
    }
    
    .deals_nutrition h3 {
      font-size: 25px;
      line-height: 1;
      margin-bottom: 0;
  	}
    
    .deals_nutrition li, .deals_nutrition p {
      font-size: 18px;
      max-width: 100%;
    }
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div {
      margin-bottom: 50px;
  	}
    
    .deals_nutrition .grid .grid__item:nth-child(2) > div:last-child {
      margin-bottom: 0;
  	}
    
    /** TESTIMONIALS **/
    
    .deals_testimonials {
      padding-top: 75px;
      padding-bottom: 75px;
      position: relative;
    }
    
    .testimonial-carousel {
    	width: 100%;
    }
    
    .testimonial-carousel .carousel-cell img.testimonial-image {
      height: 275px;
      width: 75%;
      object-fit: cover;
      object-position: top;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .testimonial-carousel .carousel-cell .testimonial-contents {
      margin-top: -80px;
      margin-right: 20px;
      right: 0;
      margin-left: auto;
      background-color: #fff ;
      position: relative;
      max-width: 250px;
      padding: 15px;
      opacity: 1;
      transition: all 0.25s ease-out;
    }
    
    .deals_testimonials img.deals_testimonials_oat {
      position: absolute;
      width: 255px;
      right: -5vw;
      bottom: -3vw;
      z-index: 5;
    }
    
     .testimonial-carousel .carousel-cell img.testimonial-quotation {
      position: absolute;
      right: 15px;
      top: 80px;
      width: 60px;
    }
    
    /** SEEN **/
    
    .deals_seen {
      padding-top: 30px;
      padding-bottom: 30px;
    }
    
    .deals_seen .grid .grid__item .seen_body {
      width: 24%;
      border: 1px solid #444;
      min-height: 50px;
      margin-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    /** MB PRODUCTS **/
    
    .deals_bab_v2 {
      padding-top: 75px;
    }
    
    .deals_bab_v2 .deals_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }
    
    .deals_bab_v2 .grid.deals_bab_bab {
      width: 48%;
      margin-bottom: 15px;
    }
    
    .deals_bab_v2 .grid.deals_bab_minis {
      width: 48%;
      margin-bottom: 15px;
  	}
    
    .deals_bab_v2 .grid.deals_bab_bars {
      width: 48%;
  	}
    
    .deals_bab_v2 img.apple_img {
      top: -10px;
      width: 205px;
      right: -30px;
    }
    
    .deals_bab_v2 img.banana_img {
      bottom: -20px;
      left: 80px;
      width: 205px;
    }
    
    /** SHIPPING **/
    
    .deals_shipping ul {
      max-width: 310px;
    }
    
  }
  
  @media only screen and (max-width: 767px){
	
    .mbs_ingredients {
        min-height: auto;
    }
    
  }
  
  
  
</style>

<script>
  
// Set the date we're counting down to
var countDownDate = new Date("Jan 5, 2025 15:37:25").getTime();

// Update the count down every 1 second
var x = setInterval(function() {

  // Get today's date and time
  var now = new Date().getTime();

  // Find the distance between now and the count down date
  var distance = countDownDate - now;

  // Time calculations for days, hours, minutes and seconds
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor(((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60)) / 9);
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);

  // Display the result in the element with id="demo"
  document.getElementById("countdown-timer1").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";
  document.getElementById("countdown-timer2").innerHTML = hours + "h "
  + minutes + "m " + seconds + "s ";

  // If the count down is finished, write some text
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("countdown-timer").innerHTML = "EXPIRED";
  }
}, 1000);
  
</script>

{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}