{% for mini in product.collections %}
  {% if mini.handle == "minis" %}
  	{% assign minis = true %}
  {% endif %}
{% endfor %}

{% comment %}ECPWS{% endcomment %}{% capture ec-pw-ify %}
{% section 'new-single-landing' %}
{% section 'new-single-mid-section' %}
{% section 'new-home-flavors-slider' %}

<div class="container {% if product.metafields.stamped.reviews_count == blank %}level-hide{% endif %}">
  <div class="ll_review my-5">
    <div class="container">
      <div class="row text-center text-uppercase">
        <div class="col-md-12">

          <p class="titlereviews">What people are saying...</p>        
        </div>

      </div>


    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {% section 'bf_reviews' %}  
    </div>
  </div>


</div>

<div class="kalivoSec" {% if product.metafields.stamped.reviews_count == blank %}style="margin-top: -15px"{% endif %}>
 
 <div class="page-width" >
        <div class="innerPage ">
          <p class="kvformtitle">TREAT YOUR<span>INBOX</span></p> 
          <div class="klaviyo-form-XMRvGd"></div>
        </div>
      </div>
      

</div>
 {% section 'instagram' %}

{% comment %}
<script text="text/javascript">
  
if (window.location.href.indexOf("banana-bread") > -1) {
 /*
   $(".rc_block__type__autodeliver").prepend('<label for="rc_purchase_type_autodeliver-nhxryeoc9" class="rc_label rc_label__autodeliver">Subscribe &amp; Save <span class="rc_label__discount" aria-label="subscription discount">(8.6%):</span><span id="rc_price_autodeliver" class="rc_price rc_price__autodeliver" aria-label="recurring price">$31.99</span></label>');*/
    
   
  /*$(".variant-input[data-value='BOX OF 6']").hide();*/
   
 } 
  
   $(document).ready(function() {  
     var texts = 'CHECK US OUT ON SOCIAL </span>'
     $('.instagram .section-header__title').html(texts);
     
     $('.sawpboxarea').slick({
    slidesToShow: 2.3,
    slidesToScroll: 1,
           dots: false,
    prevArrow: false,
    nextArrow: false,
    mobileFirst: true,
    responsive: [
          {
                  breakpoint: 900,
                  settings: 'unslick'
          },
      {
      breakpoint: 300,
      settings: {
        slidesToShow: 1.3,
        slidesToScroll: 1
      }
    }
    ]
  });
     
      
   });  
 
</script>
{% endcomment %}

<style>
  /* button#AddToCart-3940060004461:nth-child(1) {
    display: none ; */
  
  .magnify-mobile .lens-mobile {
   	  background: #fff; 
  }
  
  .magnify-mobile .lens-mobile img {
      max-width: initial;
      width: initial;
  }

   h1, .h1, h2, .h2, h3, .h3 {
    font-family: "proxima-nova", sans-serif ;
    font-weight: 900 ;
}
  body {
    font-family: "proxima-nova", sans-serif;
}
h1.h2.product-single__title, .h2.product-single__title.h1 {
   color:#000;
}
  #ProductThumbs-4741118066797 {display:none;}
  .template-product .stamped-badge i.stamped-fa {
    color: #ecc559 ;
}
  .page-width.reviews_veriety_pack.try_c h3 {
    display:none;
}
  .index-section {
    margin: 0px 0px 25px 0;
}
  .kvformtitle {text-align:center; margin-top: 0;}
  .titlereviews,.kvformtitle {
 line-height: 110%;
font-size: 3.5vw;
font-weight: 900;
text-transform: uppercase;
    margin-top: 44px;
    font-family: "proxima-nova", sans-serif;
  }
  .titlereviews span, .kvformtitle span {
  display:block;
  }
  .instagram-section h4 {
  display:none;
  }
  .instagram .section-header__title {
line-height: 110%;
font-size: 3.5vw ;
font-weight: 800;
text-transform: uppercase ;
margin-top: 44px;
font-family: "proxima-nova", sans-serif;
  }
  .instagram .section-header__title span {
  display:block;
  }
  .instagram-feed-wrap .btn {
  background:#000 ;
  }
 .sawpboxarea.slick-slider .slick-slide img {
    display: inline-block;
}
  
  .magnify {
    width: 100%;
  }
  
  @media only screen and (min-width: 1600px){
     
    .product__main-photos .starting-slide img, .product__main-photos .slick-initialized img {
        max-width: 27.5vw;
    }
    
    .product-image-main {
        max-height: 27.5vw;
    }
    
  }
  
  @media only screen and (max-width:990px){
   .instagram .section-header__title {
font-size: 36px ;
  }
      .titlereviews,.kvformtitle {
font-size: 36px;
  }
   
  }
  
    @media only screen and (min-width:768px) and (max-width:1024px){
     
      .kalivoSec {
        padding: 7.5vh 0 5vh ;
        margin-top: -5vh ;
      }
      
    }
  
  @media only screen and (max-width:500px){
   .instagram .section-header__title {
font-size: 30px ;
  }
      .titlereviews {
font-size: 30px;
  }
    .sawpboxarea.slick-slider:after {display:none;}
  }
  
  .kalivoSec {
  min-height:100px;
    padding:25px 0px;
/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffffff+0,fbefd7+100 */
background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(45deg,  #ffffff 0%, #fbefd7 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg,  #ffffff 0%,#fbefd7 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg,  #ffffff 0%,#fbefd7 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#fbefd7',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */


  }  
  .kalivoSec p.textNorg { 
  text-align:center;
    text-transform:uppercase;
  }

  .klaviyo-form .FormComponent__StyledFormComponentWrapper-e0xun6-0 {
    padding: 3px ;
}

.klaviyo-form input {
    border-radius: 5px ;
    min-height: 45px ;
    box-shadow: none ;
    text-align: center ;
}

.klaviyo-form button {
    border-radius: 5px ;
    min-height: 25px;
}

  .payment-buttons .btn.add-to-cart {
    border: none ;
    color: #fff ;
    border-radius: 5px ;
    box-shadow: 0px 4px 10px 1px rgba(52,52,52,0.35) ;
    min-height: 40px;
}
.variant__button-label {
    background: #ECEBEB ;
    border: none ;
    border-radius: 5px ;
    box-shadow: 0px 10px 17px -3px rgba(212, 212, 212, 0.86) ;
}

input:checked + .variant__button-label {
    background: #000 ;
    border: none ;
    color: #fff ;
    border-radius: 5px ;
    box-shadow: 0px 4px 10px 1px rgba(52, 52, 52, 0.35) ;
}
input:checked+.variant__button-label .mostpopu {
    color: #000;
}
.variant__button-label > span {
	color: #000;
    background: transparent ;
    box-shadow: none ;
    border: none;
    font-weight: 100;
}
input:checked+.variant__button-label > span {
        font-weight: bold ;
}
input:checked+.variant__button-label .saveamout {
    color: #fff;
}
  

  
</style>

<script>
  
  jQuery.noConflict();
 
  jQuery( document ).ready(function( $ ) {
    $('select.rc_select__frequency  option[value="4"]').attr("selected",true);
  });
  
  // Override default values of shop.strings for each template.
  // Alternate product templates can change values of
  // add to cart button, sold out, and unavailable states here.
  theme.productStrings = {
    addToCart: {{ 'products.product.add_to_cart' | t | json }},
    soldOut: {{ 'products.product.sold_out' | t | json }},
    unavailable: {{ 'products.product.unavailable' | t | json }}
  };
</script>

{% comment %}ECPWS{% endcomment %}{% endcapture %}{% include 'ec-passwordify' %}